{#
 # Article Body include template
 # -----------------------------------------------------------------------------
 #
 # This template is used to output HTML for an "Article Body" Matrix field.
 #
 # An `entry` variable is expected to be defined.
-#}

{% for block in entry.articleBody %}
  {% switch block.type %}

    {% case "heading" %}

      <div class="block heading">
        <h3>{{ block.heading }}</h3>
      </div>

    {% case "text" %}

      <div class="block text">
        {{ block.text }}
      </div>

    {% case "pullQuote" %}

      <div class="block pullquote {{ block.position }}">
        <p>{{ block.pullQuote }}</p>
      </div>

    {% case "image" %}

      {% set image = block.image.first() %}
      {% if image %}
        {% if block.position == 'full' %}
          </div>
          <div class="fullimage tall" style="background-image: url('{{ image.getUrl({ width: 1440 }) }}');"></div>
          <div class="container">
        {% else %}
          {% if block.position == 'center' %}
            {% do image.setTransform({ width: 960 }) %}
          {% else %}
            {% do image.setTransform({ width: 440 }) %}
          {% endif %}

          <div class="block image {{ block.position }}">
            <img src="{{ image.url }}" alt="{{ image.title }}">
          </div>
        {% endif %}
      {% endif %}

    {% case "quote" %}

      {% if block.position == 'full' %}
        </div>
        <div class="fullquote"
        {%- if entry.backgroundColor %} style="background-color:{{ entry.backgroundColor }};"{% endif -%}
        >
          <div class="container">
      {% else %}
        <div class="block quote {{ block.position }}">
      {% endif %}

      <blockquote>
        <p>{{ block.quote }}</p>

        {% if block.attribution %}
          <footer>– <cite>{{ block.attribution }}</footer>
        {% endif %}
      </blockquote>

      {% if block.position == 'full' %}
          </div>
        </div>
        <div class="container">
      {% else %}
        </div>
      {% endif %}

  {% endswitch %}
{% endfor %}
