<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Redirecting...</title>
</head>
{# This is an example of a gateway post redirect template. You can use this by configuring the `gatewayPostRedirectTemplate` config option. #}
{# The page's form should submit itself to the `actionUrl` and output all hidden inputs with `inputs` #}
{# We suggest inlining all css and keeping the page size to a minimum #}
<body onload="document.forms[0].submit();">
<form action="{{ actionUrl|raw }}" method="post">
    <p style="color:green">Redirecting to payment page...</p>
    <p>
        {{ inputs|raw }}
        <input type="submit" value="Continue" />
    </p>
</form>
</body>
</html>