{% extends 'shop/_layouts/checkout' %}

{% set addresses = craft.commerce.customers.customer.addresses %}

{% block content %}
    {# UI when at least one address exists #}

    <div class="flex -mx-8">
        <div class="w-2/3 px-8">
            <form method="post">

                <h1>Where should we send your order?</h1>

                <input type="hidden" name="action" value="commerce/cart/update-cart">
                {{ redirectInput('shop/checkout/shipping') }}

                {{ csrfInput() }}

                {% if not cart.email %}
                    <label for="email">Email</label>
                    <input id="email" class="w-full" type="email" value="{{ cart.email }}" name="email"
                           placeholder="email@site.com"/>

                    <span class="flash">{{ cart.getErrors('email')|join }}</span><br>
                {% endif %}

                {% include 'shop/_includes/addresses/fieldset' with {
                    title: "Shipping Address"|t,
                    class: 'ShippingAddress',
                    name: 'shippingAddress'
                } %}

                <input type="hidden" name="billingAddressSameAsShipping" value="0">
                {#<input type="hidden" name="shippingAddressSameAsBilling" value="0">#}

                <label for="billingAddressSameAsShipping"><input id="billingAddressSameAsShipping" name="billingAddressSameAsShipping" type="checkbox" checked="checked"/><span class="label-body">Use same address for
            billing</span></label>

                <label for="makePrimaryShippingAddress"><input id="makePrimaryShippingAddress" name="makePrimaryShippingAddress" type="checkbox"/><span class="label-body">Make this the primary shipping address</span></label>

                {#<label for="shippingAddressSameAsBilling"><input id="shippingAddressSameAsBilling" name="shippingAddressSameAsBilling" type="checkbox" checked="checked"/><span class="label-body">Use same address for#}
                {#shipping</span></label>#}

                {% include 'shop/_includes/addresses/fieldset' with {
                    title: "Billing Address"|t,
                    class: 'BillingAddress hidden',
                    name: 'billingAddress'
                } %}

                <label for="makePrimaryBillingAddress"><input id="makePrimaryBillingAddress" name="makePrimaryBillingAddress" type="checkbox"/><span class="label-body">Make this the primary billing address</span></label>


                <input type="submit" class="button button-primary" value="Confirm addresses">

            </form>
        </div>

        <div class="w-1/3 px-8 border-l border-grey-lighter">
            {% include "shop/_includes/order-review" with {  } %}
        </div>
    </div>

    {% js %}
    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

        var $addressFieldset = $(this);

        $('.address-select', $addressFieldset).each(function () {

            this.$element = $(this);
            this.$radio = $('.radio input', this.$element);
            this.$body = $('.body', this.$element);

            this.$radio.change($.proxy(function () {
                $('.body', $addressFieldset).addClass('hidden');
                this.$body.removeClass('hidden');
            }, this));

            if (this.$radio.is(':checked')) {
            this.$body.removeClass('hidden');
            }
        });

    });

    $("#billingAddressSameAsShipping").change(function (e) {
        $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if (cart.billingAddressId and cart.billingAddress.hasErrors()) or (cart.billingAddressId != cart.shippingAddressId) %}
        $("#billingAddressSameAsShipping").click();
    {% endif %}
    {% endjs %}

{% endblock %}
