<div class="lds-css ng-scope">
    <div class="lds-spinner" style="100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <style type="text/css">@keyframes lds-spinner {
                               0% {
                                   opacity: 1;
                               }
                               100% {
                                   opacity: 0;
                               }
                           }
    @-webkit-keyframes lds-spinner {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    .lds-spinner {
        position: relative;
    }
    .lds-spinner div {
        left: 94px;
        top: 48px;
        position: absolute;
        -webkit-animation: lds-spinner linear 1s infinite;
        animation: lds-spinner linear 1s infinite;
        background: #272727;
        width: 12px;
        height: 24px;
        border-radius: 10%;
        -webkit-transform-origin: 6px 52px;
        transform-origin: 6px 52px;
    }
    .lds-spinner div:nth-child(1) {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-animation-delay: -0.888888888888889s;
        animation-delay: -0.888888888888889s;
    }
    .lds-spinner div:nth-child(2) {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        -webkit-animation-delay: -0.777777777777778s;
        animation-delay: -0.777777777777778s;
    }
    .lds-spinner div:nth-child(3) {
        -webkit-transform: rotate(80deg);
        transform: rotate(80deg);
        -webkit-animation-delay: -0.666666666666667s;
        animation-delay: -0.666666666666667s;
    }
    .lds-spinner div:nth-child(4) {
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
        -webkit-animation-delay: -0.555555555555556s;
        animation-delay: -0.555555555555556s;
    }
    .lds-spinner div:nth-child(5) {
        -webkit-transform: rotate(160deg);
        transform: rotate(160deg);
        -webkit-animation-delay: -0.444444444444444s;
        animation-delay: -0.444444444444444s;
    }
    .lds-spinner div:nth-child(6) {
        -webkit-transform: rotate(200deg);
        transform: rotate(200deg);
        -webkit-animation-delay: -0.333333333333333s;
        animation-delay: -0.333333333333333s;
    }
    .lds-spinner div:nth-child(7) {
        -webkit-transform: rotate(240deg);
        transform: rotate(240deg);
        -webkit-animation-delay: -0.222222222222222s;
        animation-delay: -0.222222222222222s;
    }
    .lds-spinner div:nth-child(8) {
        -webkit-transform: rotate(280deg);
        transform: rotate(280deg);
        -webkit-animation-delay: -0.111111111111111s;
        animation-delay: -0.111111111111111s;
    }
    .lds-spinner div:nth-child(9) {
        -webkit-transform: rotate(320deg);
        transform: rotate(320deg);
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    .lds-spinner {
        width: 51px !important;
        height: 51px !important;
        -webkit-transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
        transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
    }
    </style></div>