@charset "UTF-8";

// --- Variables
// ---------------------------------------------------

// asset path
$images_path: "../images/";

// fonts
$font-primary: "montserratregular", serif;
$font-secondary: "steelfish_rgbold", clean, sans-serif;
$font-tertiary: "montserratbold", clean, sans-serif;
$base: 16;
$font-size-list: 50 30 20 18 16 12;
$med-font-size-list: 60 40 21 20 16 12;
$lg-font-size-list: 80 50 22 18 17 12;
$font-heading-class-list: alpha beta gamma delta epsilon zeta;
$font-weight-bold: 700;
$font-weight-black: 900;

// grid
$gutter: 20;
$max-width: 1000; // Max grid wrap width
$sm-column-count: 3;
$med-column-count: 6;
$lg-column-count: 12;
$mqs: 420; // small breakpoint
$mq1: 600; // Mid range breakpoint
$mq2: 767; // Med screen breakpoint
$mq3: 1025; // Large screen breakpoint
$mq4: 1100; // Large screen breakpoint
$mq5: 1300; // extra Large screen breakpoint


// colors
$color-1: #222;
$color-2: #f8f8f8;
$color-3: #d3d3d3;
$color-4: #cf6a34;
$color-5: #e1dfdf;
$bgColor: #f8f8f9;
$yellow: #fbd334;
$lightGray: #d3d3d3;
$footerTextColor: #f8f8f8;
$barBgColor: #222;
$barTextColor: #a2a2a2;

$barHeight: 30px;

.hide {display:none;}

// allow padding and border to be calc with width
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// --- end variables ---------------------------------

// --- Mixins
// ---------------------------------------------------
// Calculate small screen grid based on $sm-column-count
@mixin sm-grid($columns) {
  width: $columns * (100% / $sm-column-count);
  padding: 0 $gutter+px;
  padding: 0 $gutter/$base+rem;
}
// Calculate med screen grid based on $med-column-count
@mixin med-grid($columns) {
  width: $columns * (100% / $med-column-count);
  padding: 0 $gutter+px;
  padding: 0 $gutter/$base+rem;
}
// Calculate large screen grid based on $lg-column-count
@mixin lg-grid($columns) {
  width: $columns * (100% / $lg-column-count);
  padding: 0 $gutter+px;
  padding: 0 $gutter/$base+rem;
}

// Calculate pixels to rem units for font sizes
@mixin font-size($f) {
  font-size: $f+px;
  font-size: $f/$base+rem;
}

// css3 rotate
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
// css3 flip vertical
@mixin rotateX($degrees) {
  -webkit-transform: rotateX($degrees);
  -moz-transform: rotateX($degrees);
  -ms-transform: rotateX($degrees);
  -o-transform: rotateX($degrees);
  transform: rotateX($degrees);
}
// css3 flip horizontal
@mixin rotateY($degrees) {
  -webkit-transform: rotateY($degrees);
  -moz-transform: rotateY($degrees);
  -ms-transform: rotateY($degrees);
  -o-transform: rotateY($degrees);
  transform: rotateY($degrees);
}
// css3 translate
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
// clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both; }
    *zoom: 1;
}

@mixin appearance($val) {
	-webkit-appearance: $val;
	-moz-appearance: $val;
}

@mixin clearafter {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@mixin headingText {
	font-family: steelfish_rgbold, sans-serif;
	text-transform: uppercase;
}

@mixin subheadingText {
	font-family: montserratbold, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.05em;
}

@mixin smallText {
	font-family: montserratregular, sans-serif;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

// transitions
@mixin transition($property, $duration) {
	-webkit-transition: $property $duration ease-in-out;
	-moz-transition: $property $duration ease-in-out;
	-o-transition: $property $duration ease-in-out;
	transition: $property $duration ease-in-out;
}

// imports
@import "reset";
@import "icomoon";
@import "type";
@import "grid";

.horz-rule {
  border: 0;
  height: 0;
  border-top: none;
  border-bottom: 3px solid $color-1;
	margin-top: 60px;
  margin-bottom: 60px;
  position: relative;

  @media all and (min-width: $mq3/$base+em) {
    margin-bottom: 60px;
  }

  &.alt {
    margin-top: 20px;
    margin-bottom: 20px;

    &:after {
      content: '';
      display: block;
      height: 20px;
      top: -10px;
      left: 50%;
      margin-left: -180px;
      position: absolute;
      width: 360px;
      background: $color-2;
    }

    @media all and (min-width: $mq2/$base+em) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  &.alt2 {
    margin-top: 20px;
    margin-bottom: 20px;

    &:after {
      content: '';
      display: block;
      height: 20px;
      top: -10px;
      left: 50%;
      margin-left: -35px;
      position: absolute;
      width: 70px;
      background: $color-2;
    }

    @media all and (min-width: $mq3/$base+em) {
      margin-top: 60px;
      margin-bottom: 120px;
    }
  }
  &.alt3 {
    @extend .alt;
    border-color: $yellow;

    &:after {
      margin-left: -280px;
      width: 560px;
    }
  }
}

// images
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;

  &.contain-media {
    width: 100%;
  }
  &.img-right {
		margin-bottom: 20px;
		width: 100%;
		max-width: auto;

		@media all and (min-width: $mq1/$base+em) {
			float: right;
			margin-left: 60px;
			max-width: 100%;
			width: auto;
		}

  }
  &.img-left {
    float: left;
  }
}
figure, .img-wrap {
	@include clearfix;
  margin-top: 0;
  margin-bottom: $gutter+px;
  position: relative;

  &.contain {
    display: block;
    text-align: center;

    img {
      display: inline-block;
      text-align: center;
    }
  }
}

a {
  color: $color-4;
  @include transition(all, .2s);
}

a:hover, a:focus {
  color: $color-1;
}

// buttons
a.btn,
button.btn {
  color: $color-1;
  border: 3px solid $color-1;
  background: transparent;
  padding: 17px 30px 14px 32px;
  text-align: center;
  line-height: 1;
  font-family: $font-tertiary;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  @include font-size(16);
  position: relative;
  overflow: hidden;
  display: inline-block;
}
// video
video {
  width: 100%;
  height: auto;
}
.video-img-wrap {
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  display: none;

  @media all and (min-width: $mq3/$base+em) {
    display: block;
  }

  video {
    @include transition(opacity, .5s);
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100%;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }
}
// responsive embedded video
.video-wrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
  }
}

// quotes
.pullquote p,
.blockquote {
    border-top: 3px solid $color-1;
    border-bottom: 3px solid $color-1;
    padding: 66px 10px;

    .flex-full & {
      border-top: none;
      border-bottom: none;
    }
}
.pullquote {
  padding: 0.5em 0;
}
.blockquote {
  margin: 30px 0;
  text-align: center;

  p {
    margin: 0;
    @include headingText;
    font-size: 46px;
    letter-spacing: 0.1em;

    &:before {
      content: '“';
    }
    &:after {
      content: '”';
    }
  }
  footer {
    margin: 10px 0;
    font-style: italic;
  }
}

body {
  background: $bgColor;
  font-family: Georgia, serif;
  color: #222;
  font-size: 16px;
  line-height: 1.6;
}

strong {
  font-weight: bold;
  font-family: inherit
}

/* layout */
.container {
  position: relative;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

	&:after {
    @include clearafter;
  }
}

/* bar */

@mixin searchPlaceholder {
  @include smallText;
  color: $barTextColor;
}

#bar {
  position: relative;
  height: $barHeight;
  border-bottom: 3px solid $lightGray;
  background: $barBgColor;
  @include smallText;

	a {
    color: #cf6a34;
    @include transition(color, .1s);

		&:hover {
      color: #fff !important;
    }
		&[href$='clients'] {
      position: absolute;
      top: 0;
      left: calc(50% - 5em);
      text-align: center;
      width: 10em;
      line-height: 30px;
    }
	}

	#social {
    position: absolute;
    top: 0;
    left: 0;

		a {
      float: left;
      margin-right: 10px;
      color: $barTextColor;
      font-size: 13px;
      line-height: $barHeight;
    }
	}

	#search {
    position: absolute;
    top: 4px;
    right: 0;
    width: 160px;
    height: 21px;

    form.search-form {
      margin: 0;
      padding: 0;
    }
		input {
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 1px solid #6b6a6a;
      border-radius: 2px;
      padding-right: 20px;
      color: #fff;
      background: none;
			@include appearance(none);

			&::-webkit-input-placeholder {
        @include searchPlaceholder;
      }
			&:-moz-placeholder {
        @include searchPlaceholder;
      } /* Firefox 18- */
			&::-moz-placeholder {
        @include searchPlaceholder;
      } /* Firefox 19+ */
			&:-ms-input-placeholder {
        @include searchPlaceholder;
      }
			&::-webkit-search-cancel-button {
        display: none;
      }
		}
	}
}

/* header */
$logoHeight: 125px;
$navWidth: 115px;
$navSpacing: 50px;

#header {
	position: relative;
	border-bottom: 4px solid $lightGray;

  .flex {
    padding-bottom: 0 !important;
  }

	.flex > * {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	h1 {
    display: inline-block;
    position: relative;
    top: 20px;
    left: calc(50% - 150px);

    @media all and (min-width: $mq4/$base+em) {
      top: 35px;
      position: absolute;
    }
	}
	nav {
    display: block;
    text-align: center;

		@media all and (min-width: $mq4/$base+em) {
			display: block;
	  }
    ul {
      @include clearfix;
    }
		li {
      display: block;
      text-align: center;
      width: 50%;
      float: left;

      @media all and (min-width: $mq1/$base+em) {
        width: auto;
        display: inline-block;
        float: none;
      }

      @media all and (min-width: $mq4/$base+em) {
  			float: left;
  			width: $navWidth;
      }

			&:not(:first-child) {

        @media all and (min-width: $mq4/$base+em) {
          margin-left: $navSpacing;
        }
      }
			&:nth-child(3) {

        @media all and (min-width: $mq4/$base+em) {
          margin-left: $navSpacing * 2 + 300;
        }
      }
			a {
        display: block;
        padding: 15px 10px;
        position: relative;

        @media all and (min-width: $mq1/$base+em) {
          padding: 48px 20px;
        }
        @media all and (min-width: $mq2/$base+em) {
          padding: 48px;
        }

        @media all and (min-width: $mq4/$base+em) {
          padding: 48px 0;
        }

				&:before {
          display: block;
          @include icon;
          color: $yellow;
          font-size: 45px;
          line-height: 50px;
        }
				&.sel {

          &:after {
            content: '';
            display: block;
            position: absolute;
            background: url(../images/nav-sel.svg) no-repeat left 100%;
            bottom: 0;
            width: 14px;
            height: 14px;
            left: 50%;
            margin-left: -7px;
            height: 10px;
          }
        }

				&[href$='about']:before {
          content: 'brewery';
        }
				&[href$='services']:before {
          content: 'beaker';
        }
				&[href$='work']:before {
          content: 'mug';
        }
				&[href$='news']:before {
          content: 'news';
        }

				strong {
          display: block;
          font-size: 22px;
          line-height: 40px;
          @include headingText;
          color: #383838;
        }
				span {
          display: none;
        }
				em {
          display: block;
          font-style: normal;
          @include smallText;
          line-height: 20px;
          color: $lightGray;
					&:before {
            content: '[ ';
          }
					&:after {
            content: ' ]';
          }
				}
			}
		}
	}
}

/* main */
#main {
  overflow-x: hidden;

	h3 {
    margin-bottom: 1.6em;
    @include subheadingText;
    text-align: center;
  }
  h4 {
    margin-bottom: 1.2em;
    @include subheadingText;
    font-size: 14px;
  }

	ul,
	ol {
    margin: 2.2em 0 0.2em 0;
		li {

    }
	}
	ul {
    list-style-type: none;
  }
	ol {
    list-style-type: decimal;
  }

	header {
		text-align: center;
		background-position: 50% 50% !important;

		body.about & {
      background: #c6c5c5 url($images_path+'headingbg-gray.svg');
    }
		body.services & {
      background: #fbd334 url($images_path+'headingbg-yellow.svg');
    }
		body.work & {
      background: #56b1be url($images_path+'headingbg-blue.svg');
    }
		body.news &,
    body.search & {
      background: #cf6a34 url($images_path+'headingbg-orange.svg');
    }

		h1 {
			letter-spacing: 6px;
		}

		& + .flex {
      margin-top: 60px;
      // border-top: 3px solid #222;
    }
	}

	article {

		.container {
      max-width: 764px;
      padding: 3.2em 20px;

      @media all and (min-width: $mq3/$base+em) {
        padding-right: 0px;
        padding-left: 0px;
      }

      body.services & {
        max-width: 1024px;

        section .heading {

        }
      }
		}

    .authorinfo {
      margin: 3.2em 0;
      border: solid #222;
      border-width: 3px 0;
      padding: 1.6em 0;

      .author {
        font-style: italic;
      }
    }
	}
	section.alt,
	header.alt {
		padding-top: 50px;
		padding-bottom: 50px;

		p:last-of-type {
			margin-bottom: 0;
		}
	}
  header.alt2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px;
  }
	section.alt2 {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: white;

		p:last-of-type {
			margin-bottom: 0;
		}
	}
	.info-hero {
		background: #b75e2e url($images_path+'about-background-image-1.jpg');
		background-position: center top;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.email-us-btn,
	.map-btn {
		padding: 6px 30px 6px 0;
		color: $color-1;
		position: relative;
		margin-right: 40px;

		&:after {
			display: block;
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			right: 0;
			top: 50%;
			margin-top: -11px;
			background: url($images_path+'icon-arrow.svg') no-repeat right center;
			background-size: 20px 20px;
			@include rotate(-90deg);
		}
	}
	.map-btn {
		margin-right: 0px;
	}
  .subnav {
    background: $color-3;
    margin-bottom: 2px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      display: block;
      text-align: center;

      li {
        display: inline-block;
        text-align: center;
        line-height: 1;
      }
      a {
        color: $color-1;
        display: block;
        letter-spacing: 2px;
        font-size: 14px;
        padding: 2px 15px;

        &.current {
          color: $color-4;
        }
      }
    }
  }
}
#main article.news-entry {
  @include clearfix;
  margin-bottom: 40px;

  figure {

    @media all and (min-width: $mq2/$base+em) {
      display: inline-block;
      padding-right: 20px;
      float: left;
    }

    @media all and (min-width: $mq4/$base+em) {
      width: 280px;
    }
    a img {
      display: block;
      margin: auto;

      @media all and (min-width: $mq1/$base+em) {
        display: inline-block;
        float: left;
      }
    }
  }
  .summary-wrap {

    @media all and (min-width: $mq2/$base+em) {
      display: inline-block;
      width: 58%;
      float: right;
      vertical-align: top;
    }

    @media all and (min-width: $mq4/$base+em) {
      width: 668px;
    }

    h3 {
      text-align: left;
      margin-bottom: 10px;

      a {
        color: $color-1;
        font-weight: 400;
      }
    }
    .author {
      color: $color-4;
      font-style: italic;
      padding-right: 10px;
      padding-bottom: 20px;
      display: inline-block;
    }
    .separator {
      padding-right: 10px;
    }
    .more-link {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $font-tertiary;
      color: $color-1;
      padding-right: 30px;
      display: inline-block;
      position: relative;

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        top: 50%;
        margin-top: -11px;
        background: url($images_path+'icon-arrow.svg') no-repeat right center;
        background-size: 20px 20px;
        @include rotate(-90deg);
      }
    }
  }
  &.featured {
    margin-bottom: 60px;

    figure {
      padding-right: 0px;

      @media all and (min-width: $mq2/$base+em) {
        width: 100%;
      }

      @media all and (min-width: $mq3/$base+em) {
        width: 570px;
        float: none;
        padding-right: 25px;
      }
      a img {

        @media all and (min-width: $mq2/$base+em) {
          width: 100%;
        }

      }
    }
    .summary-wrap {

      @media all and (min-width: $mq2/$base+em) {
        width: 100%;
        float: none;
      }
      @media all and (min-width: $mq3/$base+em) {
        width: 345px;
        float: none;
      }
    }
  }
}
#main article.work-entry {
  @include clearfix;
  margin-bottom: 40px;

  figure {
    float: right;
  }
  .summary-wrap {
    float: left;
    width: 275px;

    h3 {
      text-align: left;
      margin-bottom: 10px;

      a {
        color: $color-1;
        font-weight: 400;
      }
    }
    .more-link {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $font-tertiary;
      color: $color-1;
      padding-right: 20px;
      display: inline-block;
      position: relative;

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -6px;
        top: 0;
        margin-top: 2px;
        background: url($images_path+'icon-arrow.svg') no-repeat right center;
        background-size: 20px 20px;
        @include rotate(-90deg);
      }
    }
  }
  &.work-entry-feature {
    margin-bottom: 60px;
    position: relative;

    img {
      position: absolute;
      max-width: 1450px;
      width: 1450px;
      left: 50%;
      @include translate(-50%, 0);

      @media all and (min-width: $mq1/$base+em) {

      }
      @media all and (min-width: $mq2/$base+em) {

      }

      @media all and (min-width: $mq3/$base+em) {

      }
      @media all and (min-width: $mq4/$base+em) {

      }
    }
    .summary-wrap {
      position: relative;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 100%;
      height: 100%;
      display: block;
      padding: 0 20px;

      @media all and (min-width: $mq2/$base+em) {
        padding: 0;
        margin-top: 80px;
        margin-bottom: 40px;
      }

      h2 {
        padding: 15px 30px;
        border: 3px solid white;
        display: inline-block;
        position: relative;
        left: 50%;
        @include translate(-50%, 0);
        margin-bottom: 30px;
      }

      h3 {
        text-align: center;
      }
      p {
        color: white;
        text-align: center;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }
      h3 a {
        color: white;
      }
    }

    .more-link {
      color: white;
      padding-right: 30px;
      font-size: 16px;

      &:after {
        top: 50%;
        margin-top: -11px;
        background: url($images_path+'icon-arrow-white.svg') no-repeat right center;
      }
    }
  }
}
#main .pagination {
  margin-bottom: 50px;
  display: block;
  text-align: center;

  ul {
    display: inline-block;
    text-align: center;
    margin-top: 0;
  }
  li {
    display: inline-block;
    text-align: center;
    font-family: $font-tertiary;
    padding: 5px;

    &.current {
      color: $color-4;
      border-bottom: 2px solid $color-4;
    }

    a {
      color: $color-1;
    }
  }
}
.pag-prev-link,
.pag-next-link {
  width: 20px;
  height: auto;
  font-size: 0;
  position: relative;
  display: block;

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -13px;
    background: url($images_path+'icon-arrow.svg') no-repeat right center;
    background-size: 20px 20px;
    @include rotate(-90deg);
  }
}
.pag-prev-link {

  &:after {
    left: -5px;
    @include rotate(90deg);
  }
}
nav.prev-next-entry {
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  display: inline-block;

  .pag-prev-link, .pag-next-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;

    &:after {
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
    }
  }
  .pag-prev-link {

    &:after {
      right: 5px;
    }
  }
}
#main .service-points {
  margin-bottom: 40px;

  > .flex:nth-of-type(2) .service-point:after {
    content: '02';
  }
  > .flex:nth-of-type(3) .service-point:after {
    content: '03';
  }
}
#main .services-work-entry {
  overflow: hidden;

  .flex {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .summary-wrap {
    position: relative;

    > * {
      position: relative;
      z-index: 2;
      color: white;
    }
    h2.callout-border {
      padding-top: 40px;
    }
    h2.callout-border a {
      color: white;
      padding: 5px 10px;
      border: 3px solid white;
      display: inline-block;
      font-family: $font-primary;

      &:hover {
        color: white;
      }
    }
    h3 {
      text-align: left;

      a {
        &:hover {
          color: white;
        }
      }
    }
    a.hero-cta {
      &:hover {
        color: $color-2;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -40px;
      width: 100%;
      padding-right: 40px;
      padding-bottom: 300px;
      height: 100%;
      background: rgba(0,0,0,.7);
    }
  }
}
#main .service-point {
  overflow: hidden;
  margin-bottom: 40px;

  &:after {
    content: '01';
    line-height: 2;
    font-size: 22px;
    font-family: $font-primary;
    position: absolute;
    text-align: center;
    right: 55px;
    top: 25px;
    display: block;
    width: 52px;
    height: 42px;
    border: 3px solid $color-1;
  }

  p {
    padding-right: 30px;
  }
  h4 {
    font-family: $font-primary;
    padding-right: 30px;
    margin-bottom: 10px;
  }
}
#main .services-entry-wrap {
  max-width: 280px;
  display: block;
  background: white;
  height: 356px;
  margin-bottom: 64px;
  border-bottom: 5px solid lighten($color-4, 10%);
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 17px;
    margin-left: -10px;
    background: url($images_path+'icon-arrow-alt.svg') no-repeat right center;
    background-size: 20px 20px;
  }

  h3 {
    color: $color-1;
    margin-top: 17px;
    margin-bottom: 0;
    @include font-size(15);
  }
  p {
    color: $color-1;
    text-align: center;
    padding: 10px 32px;
  }
}
.icon-beer,
.icon-beaker,
.icon-news,
.icon-beercan {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 23px;
    height: 31px;
    background: url($images_path+'icon-beer.png') no-repeat left top;
    background-size: 23px 31px;
  }
}
.icon-beaker {

  &:before {
    width: 26px;
    height: 28px;
    background-image: url($images_path+'icon-beaker.png');
    background-size: 26px 28px;
  }
}
.icon-news {

  &:before {
    width: 29px;
    height: 29px;
    background-image: url($images_path+'icon-news.png');
    background-size: 29px 29px;
  }
}
.icon-beercan {

  &:before {
    width: 16px;
    height: 30px;
    background-image: url($images_path+'icon-beercan.png');
    background-size: 16px 30px;
  }
}

#hero {
  max-height: 920px;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    left:0;
    width: 100%;
    height: 100%;

    @media all and (min-width: $mq4/$base+em) {
      display: none;
    }
  }

  img {
    width: 100%;
    max-width: auto;
  }
  .hero-info {
    position: absolute;
    top: 50%;
    width: 625px;
    left: 50%;
    @include translate(-50%, -50%);

    @media all and (min-width: $mq3/$base+em) {
      @include translate(-50%, 0);
      top: 115px;
    }

    h1 {
      font-size: 24px;
      color: $yellow;
      text-align: center;
      letter-spacing: 4px;
      margin-bottom: 5px;

      @media all and (min-width: $mq1/$base+em) {
        font-size: 30px;
        margin-bottom: 30px;
      }

      span {
        font-size: 0;
        display: block;
        width: 312px;
        height: 54px;
        background: url($images_path+'glassfull.png') no-repeat center center;
        background-size: 312px 54px;
        text-align: center;
        margin: 5px auto 0;

        @media all and (min-width: $mq1/$base+em) {
          margin: 20px auto 0;
          background-size: 625px 108px;
          width: 625px;
          height: 108px;
        }
      }
    }
    p:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}
#on-tap {
  position: relative;
  z-index: 2;
  background: rgba($color-4, .8);

  @media all and (min-width: $mq5/$base+em) {
    margin-top: -387px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 228px;
    background: $color-4;
    bottom: 0;
    left: 0;
  }
}
.on-tap-buttons-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
.button-w-icon {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: $font-tertiary;
  border: 3px solid white;
  padding: 7px 15px;
  padding-left: 80px;
  display: block;

  &:before {
    z-index: 1;
    left: 17px;
    top: 6px;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 50px;
    background-color: white;
    left: 0;
    top: 0;
  }

  &.alt {
    border-color: $color-1;
    color: $color-1;
    text-align: center;
    width: 320px;
    position: absolute;
    top: 2px;
    left: 50%;
    background: white;
    padding-top: 6px;
    padding-bottom: 6px;
    @include translate(-50%, 0);

    @media all and (min-width: $mq3/$base+em) {
      top: 43px;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 60px;
      height: 47px;
      background-color: $color-5;
      left: 0;
      top: 0;
      border-right: 3px solid $color-1;
    }
  }
  &.alt2 {
    padding-left: 70px;
    @extend .alt;
    font-size: 12px;
    top: 0;

    @media all and (min-width: $mq2/$base+em) {
      width: 500px;
      font-size: 22px;
      top: 43px;
    }

    &:after {
      width: 50px;
    }
  }
  &[href]:hover, &[href]:focus {
    color: $color-3;
  }
  @media all and (min-width: $mq1/$base+em) {
    display: inline-block;
  }
}
.view-more,
.hero-cta {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font-tertiary;
  padding-right: 30px;
  position: relative;
  float: right;
  display: block;
  padding-top: 10px;

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 10px;
    margin-left: 0;
    background: url($images_path+'icon-arrow-white.svg') no-repeat right center;
    background-size: 20px 20px;
    @include rotate(-90deg);
  }
  &:hover, &:focus {
    color: $color-3;
  }

}
.hero-cta {
  font-size: 16px;
  float: none;
  display: inline-block;
  padding-right: 35px;

  &:after {
    width: 26px;
    height: 26px;
    top: 8px;
    background-size: 26px 26px;
  }
}

#how-made {
  background: url($images_path+'how-made-background.jpg') repeat-x center bottom;
  padding-top: 20px;
  padding-bottom: 20px;

  @media all and (min-width: $mq3/$base+em) {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  h1 {
    color: $yellow;
    text-align: center;
    letter-spacing: 3px;
  }
}
.big-arrow {
  position: absolute;
  font-size: 0;
  width: 45px;
  height: 45px;
  @include translate(-50%, 0);
  left: 50%;
  top: -2px;

  @media all and (min-width: $mq3/$base+em) {
    top: 38px;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0;
    top: 10px;
    margin-left: 0;
    background: url($images_path+'icon-arrow.svg') no-repeat right center;
    background-size: 45px 45px;
    @include rotate(-90deg);
  }

}
#best-buddies {
  padding-top: 60px;
  position: relative;

  &:before {
    width: 100%;
    height: 145px;
    content: '';
    position: absolute;
    background: white;
    display: block;
    bottom: 0;
    left: 0;
  }
  ul.logos {
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;

    li {
      display: inline-block;
      text-align: center;
      width: 19.5%;
    }
  }

  h1 {
    letter-spacing: 4px;
    position: relative;
    margin-bottom: 40px;

    &:after {
      width: 38px;
      height: 1px;
      content: '';
      position: absolute;
      background: $yellow;
      display: block;
      top: 90px;
      left: 50%;
      margin-left: -19px;
    }

    &:before {
      width: 100%;
      height: 200px;
      content: '';
      position: absolute;
      border: 4px solid $yellow;
      display: block;
      top: -20px;
    }
  }
  h2 {
    color: $yellow;
    margin-bottom: 78px;
  }
}

#testimonials {
  border-top: 5px solid $color-4;
  padding-top: 100px;
  padding-bottom: 60px;
  background-image: url($images_path+'testimonials-background.jpg');

  .bubble {
    position: relative;
    margin-bottom: 40px;
    border-top: 3px solid $color-4;

    @media all and (min-width: $mq3/$base+em) {
      height: 415px;
      margin-bottom: 0px;
      border: none;
    }

    &:after {
      position: absolute;
      content: '\201D';
      font-size: 60px;
      line-height: 1.2;
      font-family: $font-secondary;
      width: 30px;
      height: 30px;
      background: $color-4;
      display: block;
      top: 0;
      left: 0;
      padding-left: 10px;
      padding-bottom: 5px;
      color: darken($color-4, 15%);

      @media all and (min-width: $mq3/$base+em) {
        top: 5px;
        left: auto;
        right: 20px;
      }
    }

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 415px;
      background: url($images_path+'quote-bubble.png') no-repeat left top;
      display: none;
      top: 0;
      left: 15px;

      @media all and (min-width: $mq3/$base+em) {
        display: block;
      }
    }
    img {
      display: block;
      width: 84px;
      margin: 10px auto;
    }
    blockquote {
      color: white;
      padding: 40px 40px 10px 40px;
      font-style: italic;
      text-align: center;
      height: 185px;

      @media all and (min-width: $mq3/$base+em) {
        text-align: left;
      }
    }
    p {
      text-align: center;
      margin: 0 30px;
    }
    cite {
      font-family: $font-secondary;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

/* footer */

#footer {
  background: #6b6a6a;
  font-family: montserratregular, sans-serif;
  font-size: 14px;

	.flex {
		padding-top: 50px;
		padding-bottom: 50px;

		img {
      display: block;
      text-align: center;
      margin: 10px auto;

      @media all and (min-width: $mq1/$base+em) {
        float: left;
      }
    }
		p.copyright {
      text-align: center;
      color: $footerTextColor;

      @media all and (min-width: $mq1/$base+em) {
        float: left;
        margin-left: 20px;
        padding-top: 38px;
      }
    }
		a.contact {
      display: block;
      margin: 10px auto 0;
      border: 3px solid $footerTextColor;
      padding: 15px 45px 15px 20px;
      color: $footerTextColor;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      position: relative;
      width: 260px;

      @media all and (min-width: $mq1/$base+em) {
        float: right;
        margin: 18px auto 0;
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: 16px;
        top: 14px;
        margin-left: 0;
        background: url($images_path+'icon-arrow-white.svg') no-repeat right center;
        background-size: 20px 20px;
        @include rotate(-90deg);
      }
		}
	}
}
