{#
 # About page template
 # -------------------
 #
 # This template gets loaded whenever the site's About page is requested,
 # because the "About" single-entry section's Template setting is set to "about".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the About entry.
-#}

{% extends "_layouts/site" %}

{% block main %}
	<header class="alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<h1 class="alpha center reverse">{{ title }}</h1>
			</div>
		</div>
	</header>
	<section class="info-hero alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
				{% if entry.heading|length %}
					<h1 class="delta reverse center subfont">{{ entry.heading }}</h1>
				{% endif %}
				{% if entry.body|length %}
					<div class="epsilon center reverse">{{ entry.body }}</div>
				{% endif %}
			</div>
		</div>
	</section>

	{% include "_includes/article_body" %}

	<section class="alt2">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex5">
				{% if entry.contactSectionHeader %}
					<h1 class="gamma subfont alt">{{ entry.contactSectionHeader }}</h1>
				{% endif %}
				{% if entry.contactSectionAddress %}
					<p class="delta subfont caps address">{{ entry.contactSectionAddress }}</p>
				{% endif %}
				<ul>
					{% if entry.contactSectionPhone1 %}
						<li class="phone">{{ entry.contactSectionPhone1 }}</li>
					{% endif %}
					{% if entry.contactSectionPhone2 %}
						<li class="phone">{{ entry.contactSectionPhone2 }}</li>
					{% endif %}
					{% if entry.contactSectionPhone3 %}
						<li class="phone">{{ entry.contactSectionPhone3 }}</li>
					{% endif %}
				</ul>
				<ul class="horz-list">
					{% if entry.email %}
						<li>
							<a href="mailto:{{ entry.email }}" class="subfont caps email-us-btn">Email Us</a>
						</li>
					{% endif %}
					{% if entry.contactSectionMapLink %}
						<li>
							<a href="{{ entry.contactSectionMapLink }}" class="subfont caps map-btn">Map</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="g1-flex4 g2-flex6 g3-flex7">
				{% set contactImage = entry.contactSectionImage.first() %}
				{% if contactImage %}
					<img src="{{ contactImage.getUrl('medium') }}" alt="{{ contactImage.title }}" />
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
