{#

	About template
	--------------------------------------------------------------------------------

	-#}

{% extends "_layouts/site" %}

{% block main %}

	<header class="alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<h1 class="alpha center reverse">{{ title }}</h1>
			</div>
		</div>
	</header>
	<section class="info-hero alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
				{% if entry.infoHeroTopText %}
				<h1 class="delta reverse center subfont">{{ entry.infoHeroTopText }}</h1>
				{% endif %}

				{% if entry.infoHeroBottomText %}
				<p class="epsilon center reverse">{{ entry.infoHeroBottomText }}</p>
				{% endif %}

			</div>
		</div>
	</section>
	<section class="alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				{% if entry.firstSectionHeader %}
				<h1 class="beta center">{{ entry.firstSectionHeader }}</h1>
				{% endif %}

				{% if entry.firstSectionSubheader %}
				<p class="delta center subfont caps">{{ entry.firstSectionSubheader }}</p>
				{% endif %}
			</div>
		</div>

		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				<hr class="horz-rule">
			</div>
		</div>
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				<div class="g1-flex4 g2-flex6 g3-flex6 flex-nested">
					{% if entry.firstSectionBodyLeft %}
					{{ entry.firstSectionBodyLeft }}
					{% endif %}
				</div>
				<div class="g1-flex4 g2-flex6 g3-flex6 flex-nested push">
					{% if entry.firstSectionBodyRight %}
					{{ entry.firstSectionBodyRight }}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				<hr class="horz-rule">
			</div>
		</div>
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
				{% if entry.secondSectionHeader %}
				<h1 class="beta center">{{ entry.secondSectionHeader }}</h1>
				{% endif %}

				{% if entry.secondSectionSubheader %}
				<p class="delta center subfont caps">{{ entry.secondSectionSubheader }}</p>
				{% endif %}
			</div>
		</div>
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				<hr class="horz-rule">
			</div>
		</div>
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				{% if entry.secondSectionBody %}
				{{ entry.secondSectionBody }}
				{% endif %}
			</div>
		</div>
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				<hr class="horz-rule">
			</div>
		</div>

		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
				{% if entry.thirdSectionHeader %}
				<h1 class="beta center">{{ entry.thirdSectionHeader }}</h1>
				{% endif %}
			</div>
		</div>

		<div class="flex">
			<div class="g1-flex4 g2-flex2 g3-flex4">
				{% set person1Image = entry.personnel1Image.first() %}
				{% if person1Image %}
				<img src="{{ person1Image.getUrl('small') }}" alt="{{ person1Image.title }}" />
				{% endif %}
				<dl>
					{% if entry.personnel1Name %}
					<dt>{{ entry.personnel1Name }}</dt>
					{% endif %}
					{% if entry.personnel1Name %}
					<dd>{{ entry.personnel1Title }}</dd>
					{% endif %}
				</dl>
			</div>
			<div class="g1-flex4 g2-flex2 g3-flex4">
				{% set person2Image = entry.personnel2Image.first() %}
				{% if person2Image %}
				<img src="{{ person2Image.getUrl('small') }}" alt="{{ person2Image.title }}" />
				{% endif %}
				<dl>
					{% if entry.personnel2Name %}
					<dt>{{ entry.personnel2Name }}</dt>
					{% endif %}
					{% if entry.personnel2Name %}
					<dd>{{ entry.personnel2Title }}</dd>
					{% endif %}
				</dl>
			</div>
			<div class="g1-flex4 g2-flex2 g3-flex4">
				{% set person3Image = entry.personnel3Image.first() %}
				{% if person3Image %}
				<img src="{{ person3Image.getUrl('small') }}" alt="{{ person3Image.title }}" />
				{% endif %}
				<dl>
					{% if entry.personnel3Name %}
					<dt>{{ entry.personnel3Name }}</dt>
					{% endif %}
					{% if entry.personnel3Name %}
					<dd>{{ entry.personnel3Title }}</dd>
					{% endif %}
				</dl>
			</div>
		</div>
	</section>
	<section class="alt2">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex5">
				{% if entry.contactSectionHeader %}
				<h1 class="gamma subfont alt">{{ entry.contactSectionHeader }}</h1>
				{% endif %}
				{% if entry.contactSectionAddress %}
				<p class="delta subfont caps address">{{ entry.contactSectionAddress }}</p>
				{% endif %}
				<ul>
					{% if entry.contactSectionPhone1 %}
					<li class="phone">{{ entry.contactSectionPhone1 }}</li>
					{% endif %}
					{% if entry.contactSectionPhone2 %}
					<li class="phone">{{ entry.contactSectionPhone2 }}</li>
					{% endif %}
					{% if entry.contactSectionPhone3 %}
					<li class="phone">{{ entry.contactSectionPhone3 }}</li>
					{% endif %}
				</ul>
				<ul class="horz-list">
					{% if entry.contactSectionEmail %}
					<li>
						<a href="mailto:{{ entry.contactSectionEmail }}" class="subfont caps email-us-btn">Email Us</a>
					</li>
					{% endif %}
					{% if entry.contactSectionMapLink %}
					<li>
						<a href="{{ entry.contactSectionMapLink }}" class="subfont caps map-btn">Map</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="g1-flex4 g2-flex6 g3-flex7">
				{% set contactImage = entry.contactSectionImage.first() %}
				{% if contactImage %}
				<img src="{{ contactImage.getUrl('medium') }}" alt="{{ contactImage.title }}" />
				{% endif %}
			</div>
		</div>
	</section>

{% endblock %}
