{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry's URL is requested, because
 # the News section's Template setting is set to "news/_entry".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the requested News entry.
-#}

{% extends "_layouts/site" %}
{% set title = entry.title %}

{% block main %}
	<article>
		{% include "_includes/content_header" with { showFeaturedImage: true } %}
		{% include "_includes/article_heading" %}
		{% include "_includes/article_body" %}
	</article>

	<footer class="authorinfo">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<p class="center author">{{ entry.author.name }}</p>
			</div>
		</div>
	</footer>
{% endblock %}
