{% extends "_layouts/site" %}

{% block main %}

	<header class="alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<h1 class="alpha center reverse">{{ title }}</h1>
			</div>
		</div>
	</header>

	<div class="flex">

		{% paginate craft.entries.section('news').limit(4) as entries %}

			{% for entry in entries %}
				<article class="{% if loop.first and craft.request.pageNum == 1 %}featured {% endif %}news-entry">
					{% set asset = entry.featuredImage.first() %}{% if asset %}
						<figure>
							<a href="{{ entry.url }}">
							{% if loop.first and craft.request.pageNum == 1 %}
							<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" width="570" height="348">
							{% else %}
	          	<img src="{{ asset.getUrl('thumb') }}" alt="{{ asset.title }}" width="280" height="204">
							{% endif %}
							</a>
						</figure>
          {% endif %}
					<div class="summary-wrap">
						<h3>{{ entry.getLink() }}</h3>
						{% if loop.first and craft.request.pageNum == 1 %}<a href="" class="author">{{ entry.author.name }}</a>{% endif %}

						{% if entry.shortDescription %}
							{{ entry.shortDescription }}
						{% endif %}
						{% if entry.type == 'link' %}
							<p><a href="{{ entry.urlLink }}" class="more-link">Check it out</a></p>
						{% else %}
							<p>{% if loop.first and craft.request.pageNum == 1 %}{% else %}<a href="" class="author">{{ entry.author.getFullName() }}</a> <span class="separator">|</span> {% endif %}<a href="{{ entry.url }}" class="more-link">Read More</a></p>
						{% endif %}
					</div>
				</article>
			{% endfor %}

			<hr class="horz-rule">

			<div class="pagination">
				<ul>
					{% if paginate.prevUrl %}<li><a href="{{ paginate.prevUrl }}" class="pag-prev-link">Previous Page</a></li>{% endif %}

		    {% for page, url in paginate.getPrevUrls(5) %}
		        <li><a href="{{ url }}">{{ page }}</a></li>
		    {% endfor %}

		    <li class="current">{{ paginate.currentPage }}</li>

		    {% for page, url in paginate.getNextUrls(5) %}
		        <li><a href="{{ url }}">{{ page }}</a></li>
		    {% endfor %}

		    {% if paginate.nextUrl %}<li><a href="{{ paginate.nextUrl }}" class="pag-next-link">Next Page</a></li>{% endif %}

			</div>

		{% endpaginate %}

	</div>

{% endblock %}
