{% extends "_layouts/site" %}

{% block main %}

	<header class="alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<h1 class="alpha center reverse">{{ title }}</h1>
			</div>
		</div>
	</header>

	<div class="flex">

		{% paginate craft.entries.section('news').limit(3) as entries %}

			{% for entry in entries %}
				<article {% if loop.first and craft.request.pageNum == 1 %}class="featured"{% endif %}>
					<h3>{{ entry.getLink() }}</h3>
					<span class="author">{{ entry.author.name }}</span>

					{% set block = entry.articleBody.type('text').first() %}
					{% if block %}
						<p>{{ block.text|striptags|replace("\n", ' ')|split(' ')|slice(0, 50)|join(' ') }}…</p>
					{% endif %}
				</article>
			{% endfor %}

		{% endpaginate %}

	</div>

{% endblock %}
