{#
 # Work entry template
 # -------------------
 #
 # This template gets loaded whenever a Work entry’s URL is
 # requested. That’s because the Work section’s Template setting is
 # set to “work/_entry”, the path to this template.
 #}


{% extends "_layouts/site" %}

{% block main %}

  {% include "includes/matrix" %}
  
  <section>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <footer>
          <p class="services center"><span class="caps">Services:</span> 
          {% for service in entry.servicesPerformed %}
            <a href="{{ service.url }}">{{ service.title }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </p>
        </footer>
        <hr class="horz-rule">
        <p class="center"><img src="/assets/images/social-sprite.png"></p>
        <hr class="horz-rule">
        <p><a class="btn" href="">Back to what's on tap</a></p>
      </div>
    </div>
  </section>

{% endblock %}


{% block foot %}
  {{ parent() }}
  <script type="text/javascript" src="/assets/lib/shapes-polyfill.min.js"></script>
{% endblock %}
