{#
 # Work entry template
 # -------------------
 #
 # This template gets loaded whenever a Work entry’s URL is
 # requested. That’s because the Work section’s Template setting is
 # set to “work/_entry”, the path to this template.
 #}


{% extends "_layouts/site" %}

{% block main %}

  <article>
    <header class="alt2">
      <div class="flex">
        <div class="g1-flex4 g2-flex6 g3-flex12">
          <h1 class="alpha center reverse">{{ entry.title }}</h1>
        </div>
      </div>
    </header>

    <section>
      {% set image = entry.featuredImage.first() %}
      {% if image %}
        <img src="{{ image.getUrl({width: 2000}) }}" alt="image.title"/>
      {% endif %}
    </section>

    <section class="alt">
      {% if entry.heading %}
        <div class="flex">
          <div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
            <h2 class="delta center subfont">{{ entry.heading }}</h2>
          </div>
        </div>
        <div class="flex">
          <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
            <hr class="horz-rule">
          </div>
        </div>
      {% endif %}

        <div class="flex">
          <div class="g1-flex4 g2-flex6 g3-flex12">
            {% for block in entry.articleBody %}

                {% switch block.type %}

                  {% case "heading" %}

                    <div class="block heading">
                      <h3>{{ block.heading }}</h3>
                    </div>

                  {% case "text" %}

                    <div class="block text">
                      {{ block.text }}
                    </div>

                  {% case "pullQuote" %}

                    <div class="block pullquote {{ block.position }}">
                      <p>{{ block.pullQuote }}</p>
                    </div>

                  {% case "image" %}

                    {% set image = block.image.first() %}
                    {% if image %}
                      {% if block.position == 'full' %}
                          </div>
                        </div>
                          <div class="fullimage tall" style="background-image: url('{{ image.getUrl({ width: 1440 }) }}');"></div>
                        <div class="flex">
                          <div class="g1-flex4 g2-flex6 g3-flex12">
                      {% else %}
                        {% if block.position == 'center' %}
                          {% do image.setTransform({ width: 960 }) %}
                        {% else %}
                          {% do image.setTransform({ width: 440 }) %}
                        {% endif %}

                        <div class="block image {{ block.position }}">
                          <img src="{{ image.url }}" alt="{{ image.title }}">
                        </div>
                      {% endif %}
                    {% endif %}

                  {% case "quote" %}

                    {% if block.position == 'full' %}
                        </div>
                      </div>
                        <div class="fullquote">
                      <div class="flex">
                        <div class="g1-flex4 g2-flex6 g3-flex12">
                    {% else %}
                      <div class="block quote {{ block.position }}">
                    {% endif %}

                    <blockquote>
                      <p>{{ block.quote }}</p>

                      {% if block.attribution %}
                        <footer>– <cite>{{ block.attribution }}</footer>
                      {% endif %}
                    </blockquote>

                    {% if block.position == 'full' %}
                        </div>
                      </div>
                      </div>
                      <div class="flex">
                        <div class="g1-flex4 g2-flex6 g3-flex12">
                    {% else %}
                      </div>
                    {% endif %}

                {% endswitch %}

              {% endfor %}
        </div>
      </div>
    </section>

  </article>
  <section>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <hr class="horz-rule">
        <p class="center"><img src="/assets/images/social-sprite.png"></p>
        <hr class="horz-rule">
        <p><a class="btn" href="">Back to what's on tap</a></p>
      </div>
    </div>
  </section>

{% endblock %}


{% block foot %}
  {{ parent() }}
  <script type="text/javascript" src="/assets/lib/shapes-polyfill.min.js"></script>
{% endblock %}
