{#
 # Work entry template
 # -------------------
 #
 # This template gets loaded whenever a Work entry’s URL is
 # requested. That’s because the Work section’s Template setting is
 # set to “work/_entry”, the path to this template.
 #}


{% extends "_layouts/site" %}

{% block main %}

  {% include "includes/articlebody" %}

  <section>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <p class="center"><img src="/assets/images/social-sprite.png"></p>
        <footer>
          <hr class="horz-rule">
          <p class="services center">
          {% for block in entry.servicesPerformed.type('service') %}
            {% for services in block.service %}
              <a href="{{ services.url }}">
                {% set icon = services.serviceIcon.first() %}
                {% if icon %}
                <img src="{{ icon.url }}" alt="{{ icon.title }}">
                {% endif %}
                <span class="services-title">{{ services.title }}</span>
              </a>
            {% endfor %}
          {% endfor %}
          </p>
          <hr class="horz-rule">
        </footer>
        <a class="btn" href="{{ url(craft.request.firstSegment) }}">Back to what's on tap</a>
        <nav class="prev-next-entry">
          {% set params = {
            section: 'work',
            order: 'title'
          } %}

          {% set prevEntry = entry.getPrev(params) %}
          {% set nextEntry = entry.getNext(params) %}

          {% if prevEntry %}
          <a href="{{ prevEntry.url }}" class="pag-prev-link">Prev</a>
          {% endif %}
          {% if nextEntry %}
          <a href="{{ nextEntry.url }}" class="pag-next-link">Next</a>
          {% endif %}
        </nav>
      </div>
    </div>
  </section>

{% endblock %}


{% block foot %}
  {{ parent() }}
  <script type="text/javascript" src="/assets/lib/shapes-polyfill.min.js"></script>
{% endblock %}
