{#
 # Work index template
 # -------------------
 #
 # This template gets loaded when "/work" is requested.
-#}

{% extends "_layouts/site" %}

{% block main %}
	<header class="alt2">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<h1 class="alpha center reverse">{{ title }}</h1>
			</div>
		</div>
	</header>

	<section class="alt">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex8 g3-offset2">
				<h1 class="delta center subfont">Every digital product has a story to tell. It’s our job to find it and tell it well.</h1>
				<p class="epsilon center">While we were not meaning to rhyme, this statement holds true. The end goal is to connect with humans, and we use the basic principles of story to do just that. Browse our work, enjoy the visuals and discover what it takes to create something great.</p>
			</div>
		</div>
	</section>

	{# Loop through all of the Work section entries #}
	{% for workEntry in craft.entries.section('work') %}

		{# We give special treatment to the latest work entry #}
		{% if loop.first %}

			<article class="work-entry work-entry-feature">
				{% set image = workEntry.featuredImage.last() %}
				{% if image %}
					<img src="{{ image.getUrl({ width: 2000 }) }}" alt="{{ image.title }}" width="2000">
				{% endif %}

				<div class="summary-wrap">
					{% if workEntry.heading %}
						<a href="{{ workEntry.url }}"><h2 class="center reverse beta">{{ workEntry.heading }}</h2></a>
					{% endif %}

					{% if workEntry.subheading %}
						<h3 class="delta center subfont reverse"><a href="{{ workEntry.url }}">{{ workEntry.subheading }}</a></h3>
					{% endif %}

					{% if workEntry.shortDescription %}
						<div class="block text">
							{{ workEntry.shortDescription }}
						</div>
					{% endif %}
					<p class="center"><a href="{{ workEntry.url }}" class="more-link">Full Story</a></p>
				</div>
			</article>

		{% else %}

			{# Start the .flex container right after the first entry #}
			{% if loop.index == 2 %}
				<div class="flex">
			{% endif %}

			<article class="work-entry">
				{% set image = workEntry.featuredImage.last() %}
				{% if image %}
					<figure>
						<a href="{{ workEntry.url }}">
							<img src="{{ image.getUrl({ width: 616 }) }}" alt="{{ image.title }}" width="616" height="204">
						</a>
					</figure>
				{% endif %}

				<div class="summary-wrap">
					<h3><a href="{{ workEntry.url }}">{{ workEntry.title }}</a></h3>
					{{ workEntry.shortDescription }}
					<p><a href="{{ workEntry.url }}" class="more-link">Read More</a></p>
				</div>
			</article>

			{# End the .flex container after the last entry #}
			{% if loop.last %}
				</div>
			{% endif %}

		{% endif %}

	{% endfor %}
{% endblock %}
