{% extends 'shop/_layouts/main' %}

{% block main %}
    {% set customer = craft.commerce.customers.customer %}
    {% set primaryBillingAddress = customer.getPrimaryBillingAddress() %}
    {% set primaryShippingAddress = customer.getPrimaryShippingAddress() %}

    {% if customer.addresses|length %}
        <div class="flex justify-between items-center">
            <h1>Manage your addresses</h1>
            <a class="button button-primary right" href="{{ url('shop/customer/addresses/edit') }}">Add New Address</a>
        </div>

        <div class="grid-addresses mt-6">
            {% for address in customer.addresses %}
                <div class="address-card">
                    {% include 'shop/_includes/addresses/address' with {'address': address} %}

                    <div class="buttons mt-4">
                        <a class="button button-primary" href="{{ url('shop/customer/addresses/edit') }}?addressId={{ address.id }}">Edit</a>
                        <form method="POST">
                            <input type="hidden" name="action" value="commerce/customer-addresses/delete">
                            {{ csrfInput() }}
                            <input type="hidden" name="id" value="{{ address.id }}"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </div>

                    <div>
                        <strong>{% if primaryBillingAddress and primaryBillingAddress.id == address.id %}<i class="fa fa-check text-green"></i> Primary Billing{% endif %}</strong>
                    </div>
                    <div>
                        <strong>{% if primaryShippingAddress and primaryShippingAddress.id == address.id %}<i class="fa fa-check text-green"></i> Primary Shipping{% endif %}</strong>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="text-center">Manage your addresses</h1>

        <hr>

        <div class="empty-index">
            <i class="fas fa-address-book"></i>
            <div>
                You don’t have any addresses yet.
                <div class="mt-6">
                    <a class="button button-primary" href="{{ url('shop/customer/addresses/edit') }}">Add a new address</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
