{#
 # Services entry template
 # -----------------------
 #
 # This template gets loaded whenever a Services entry's URL is requested,
 # because the Services section's Template setting is set to "services/_entry".
 #
 # An `entry` variable will be automatically passed to this template, which will
 # be set to the requested Services entry.
-#}

{% extends "_layouts/site" %}
{% set title = entry.title %}

{% block main %}
	<nav class="subnav">
		<div class="flex">
			<div class="g1-flex4 g2-flex6 g3-flex12">
				<ul>

					{# Loop through all of the Services entries in their Structure-defined order #}
					{% for serviceEntry in craft.entries.section('services').all() %}

						{# Is this the entry we're currently looking at? #}
						{% set isCurrent = (serviceEntry.id == entry.id) %}

						<li>
							<a href="{{ serviceEntry.url }}" class="subfont caps{% if isCurrent %} current{% endif %}">
								{{ serviceEntry.title }}
							</a>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</nav>

	<section>
		<article>
			{% include "_includes/content_header" %}
			{% include "_includes/article_body" %}
		</article>
	</section>

	<section class="service-points">
		{% for block in entry.serviceBody.all() %}
			<div class="flex">
				<div class="service-point">
					<div class="g1-flex4 g2-flex3 g3-flex4">
						<h4>{{ block.heading }}</h4>
						{{ block.text }}
					</div>
					<div class="g1-flex4 g2-flex3 g3-flex8">
						{% set photo = block.image.one() %}
						{% if photo %}
							<img class="" src="{{ photo.url }}" alt="{{ photo.title }}">
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

	{# Load the most recent Work entry that involved this service #}
	{% set workEntry = craft.entries.section('work').relatedTo(entry).one() %}
	{% if workEntry %}
		<section class="services-work-entry">
			{% set image = workEntry.featuredImage.inReverse().one() %}
			{% if image %}
				<div style="background-image: url('{{ image.url }}')">
			{% endif %}

			<div class="flex">
				<div class="g1-flex4 g2-flex3 g3-flex6">
					<a href="{{ workEntry.url }}">
						{% set image = workEntry.featuredImage.one() %}
						{% if image %}
							<img src="{{ image.url({ width: 440, height: 328 }) }}" alt="{{ image.title }}">
						{% endif %}
					</a>
				</div>
				<div class="g1-flex4 g2-flex3 g3-flex6">
					<div class="summary-wrap">
						<h2 class="callout-border"><a href="{{ workEntry.url }}">{{ workEntry.title }}</a></h2>
						<h3><a href="{{ workEntry.url }}">{{ workEntry.heading }}</a></h3>
						{% if workEntry.subheading %}
							<p>{{ workEntry.subheading }}</p>
						{% endif %}
						<p><a href="{{ workEntry.url }}" class="view-more hero-cta">View More</a></p>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

{% endblock %}
