@charset "UTF-8";
.hide {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

a {
  text-decoration: none; }

input, textarea {
  margin: 0;
  border: none;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 100%; }

textarea {
  resize: none; }

select {
  margin: 0; }

@font-face {
  font-family: 'happylager';
  src: url("../fonts/happylager.eot?-v8rntv");
  src: url("../fonts/happylager.eot?#iefix-v8rntv") format("embedded-opentype"), url("../fonts/happylager.woff?-v8rntv") format("woff"), url("../fonts/happylager.ttf?-v8rntv") format("truetype"), url("../fonts/happylager.svg?-v8rntv#happylager") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: 'happylager';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: attr(data-icon); }

html {
  font-size: 83%; }

body {
  font-family: "montserratregular", serif;
  font-weight: 400;
  line-height: 1.3;
  color: #222222; }

strong {
  font-family: "montserratbold", clean, sans-serif; }

em {
  font-style: italic; }

.center {
  text-align: center; }

.alpha {
  font-size: 50px;
  font-size: 3.125rem; }

.beta {
  font-size: 30px;
  font-size: 1.875rem; }

.gamma {
  font-size: 20px;
  font-size: 1.25rem; }

.delta {
  font-size: 18px;
  font-size: 1.125rem; }

.epsilon {
  font-size: 16px;
  font-size: 1rem; }

.zeta {
  font-size: 12px;
  font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "steelfish_rgbold", clean, sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1.alt, h1.horz-rule.alt3, h1.button-w-icon.alt2 {
  border: 3px solid #222222;
  padding: 6px 20px;
  display: inline-block;
  margin-bottom: 30px; }

body.search h2 {
  line-height: 1.1;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px; }

h3 {
  font-weight: 900; }

h4 {
  margin-bottom: 0;
  font-weight: 700; }

p.small, ul.small {
  font-size: 12px;
  font-size: 0.75rem; }
  p.small.push, ul.small.push {
    float: right; }

ul.horz-list {
  *zoom: 1;
  font-weight: 400;
  list-style-type: none; }
  ul.horz-list:after {
    content: "";
    display: table;
    clear: both; }
  ul.horz-list li {
    float: left; }
  ul.horz-list li a {
    display: block;
    float: left; }
ul li.push {
  float: right;
  margin-right: 0; }
ul.alt, ul.horz-rule.alt3, ul.button-w-icon.alt2 {
  font-family: "steelfish_rgbold", clean, sans-serif; }
  ul.alt li:first-child a, ul.horz-rule.alt3 li:first-child a, ul.button-w-icon.alt2 li:first-child a {
    width: 50px; }
  ul.alt a, ul.horz-rule.alt3 a, ul.button-w-icon.alt2 a {
    color: white;
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-size: 1.875rem;
    padding: 5px 15px; }
    ul.alt a:hover, ul.horz-rule.alt3 a:hover, ul.button-w-icon.alt2 a:hover {
      cursor: pointer; }
    ul.alt a.active, ul.horz-rule.alt3 a.active, ul.button-w-icon.alt2 a.active {
      color: white; }
      ul.alt a.active.ss-businessuser:after, ul.horz-rule.alt3 a.active.ss-businessuser:after, ul.button-w-icon.alt2 a.active.ss-businessuser:after {
        color: white; }
  ul.alt li.active a, ul.horz-rule.alt3 li.active a, ul.button-w-icon.alt2 li.active a {
    color: white; }

[role="main"] p, [role="main"] ul, [role="main"] dl {
  line-height: 1.6;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }
  [role="main"] p.alt, [role="main"] p.horz-rule.alt3, [role="main"] p.button-w-icon.alt2, [role="main"] ul.alt, [role="main"] ul.horz-rule.alt3, [role="main"] ul.button-w-icon.alt2, [role="main"] dl.alt, [role="main"] dl.horz-rule.alt3, [role="main"] dl.button-w-icon.alt2 {
    font-weight: 400;
    margin-bottom: 10px;
    margin-bottom: 0.625rem; }
[role="main"] dl {
  margin-top: 10px; }
  [role="main"] dl dt {
    font-family: "montserratregular", serif; }
  [role="main"] dl.inline dt {
    float: left;
    margin-right: 0.5em; }
    [role="main"] dl.inline dt:after {
      content: ':'; }
[role="main"] ul {
  list-style-type: none; }
[role="main"] li {
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }
[role="main"] ul.bullets {
  margin-left: 60px;
  padding-right: 40px;
  list-style-type: disc;
  margin-top: 0; }
  [role="main"] ul.bullets li {
    margin-bottom: 4px; }
[role="main"] p.intro {
  line-height: 1.35;
  font-family: "steelfish_rgbold", clean, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px; }
[role="main"] p.alt2 {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
[role="main"] p.more-link {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "steelfish_rgbold", clean, sans-serif; }

@media all and (min-width: 47.9375em) {
  html {
    font-size: 94%; }

  .alpha {
    font-size: 60px;
    font-size: 3.75rem; }

  .beta {
    font-size: 40px;
    font-size: 2.5rem; }

  .gamma {
    font-size: 21px;
    font-size: 1.3125rem; }

  .delta {
    font-size: 20px;
    font-size: 1.25rem; }

  .epsilon {
    font-size: 16px;
    font-size: 1rem; }

  .zeta {
    font-size: 12px;
    font-size: 0.75rem; } }
@media all and (min-width: 64.0625em) {
  html {
    font-size: 100%; }

  .alpha {
    font-size: 80px;
    font-size: 5rem; }

  .beta {
    font-size: 50px;
    font-size: 3.125rem; }

  .gamma {
    font-size: 22px;
    font-size: 1.375rem; }

  .delta {
    font-size: 18px;
    font-size: 1.125rem; }

  .epsilon {
    font-size: 17px;
    font-size: 1.0625rem; }

  .zeta {
    font-size: 12px;
    font-size: 0.75rem; } }
.subfont {
  font-family: "montserratbold", clean, sans-serif; }

.reverse {
  color: white; }

.caps {
  text-transform: uppercase;
  letter-spacing: 1px; }

.services-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "montserratbold", clean, sans-serif;
  color: #222222;
  line-height: 2;
  margin-right: 20px; }

.services a:last-of-type {
  margin-right: 0; }

.flex {
  *zoom: 1;
  position: relative;
  clear: both;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
  display: block;
  max-width: 1000px;
  max-width: 62.5rem;
  margin: 0 auto; }
  .flex:after {
    content: "";
    display: table;
    clear: both; }
  .flex.flex-full {
    padding: 60px 0;
    max-width: none; }
  .flex .g1-flex1 {
    float: left;
    width: 33.33333%;
    padding: 0 20px;
    padding: 0 1.25rem; }
    .flex .g1-flex1.push {
      float: right; }
  .flex .g1-flex2 {
    float: left;
    width: 66.66667%;
    padding: 0 20px;
    padding: 0 1.25rem; }
    .flex .g1-flex2.push {
      float: right; }
  .flex .g1-flex3 {
    width: 100%;
    padding: 0 20px;
    padding: 0 1.25rem; }
    .flex .g1-flex3.push {
      float: right; }
  .flex .g1-hide, .flex .g2-hide {
    display: none; }
  .flex .g1-show {
    display: block; }
  .flex .flex-nested:first-child, .flex .flex-nested.g1-flex4:last-child {
    padding-left: 0; }
  @media all and (min-width: 47.9375em) {
    .flex .g2-flex1 {
      float: left;
      width: 16.66667%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g2-flex1.push {
        float: right; }
    .flex .g2-flex2 {
      float: left;
      width: 33.33333%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g2-flex2.push {
        float: right; }
    .flex .g2-flex3 {
      float: left;
      width: 50%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g2-flex3.push {
        float: right; }
    .flex .g2-flex4 {
      float: left;
      width: 66.66667%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g2-flex4.push {
        float: right; }
    .flex .g2-flex5 {
      float: left;
      width: 83.33333%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g2-flex5.push {
        float: right; }
    .flex .g2-flex6 {
      width: 100%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g2-flex6.push {
        float: right; }
    .flex .g2-show {
      display: block; }
    .flex .g2-hide {
      display: none; }
    .flex .flex-nested:last-child {
      padding-right: 0; }
    .flex .flex-nested.g1-flex4:last-child {
      padding-left: 20px;
      padding-left: 1.25rem; }
    .flex .flex-nested.g1-flex4:first-child {
      padding-left: 0; } }
  @media all and (min-width: 64.0625em) {
    .flex .g3-flex1 {
      float: left;
      width: 8.33333%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex1.push {
        float: right; }
    .flex .g3-flex2 {
      float: left;
      width: 16.66667%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex2.push {
        float: right; }
    .flex .g3-flex3 {
      float: left;
      width: 25%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex3.push {
        float: right; }
    .flex .g3-flex4 {
      float: left;
      width: 33.33333%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex4.push {
        float: right; }
    .flex .g3-flex5 {
      float: left;
      width: 41.66667%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex5.push {
        float: right; }
    .flex .g3-flex6 {
      float: left;
      width: 50%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex6.push {
        float: right; }
    .flex .g3-flex7 {
      float: left;
      width: 58.33333%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex7.push {
        float: right; }
    .flex .g3-flex8 {
      float: left;
      width: 66.66667%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex8.push {
        float: right; }
    .flex .g3-flex9 {
      float: left;
      width: 75%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex9.push {
        float: right; }
    .flex .g3-flex10 {
      float: left;
      width: 83.33333%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex10.push {
        float: right; }
    .flex .g3-flex11 {
      float: left;
      width: 91.66667%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex11.push {
        float: right; }
    .flex .g3-flex12 {
      width: 100%;
      padding: 0 20px;
      padding: 0 1.25rem; }
      .flex .g3-flex12.push {
        float: right; }
    .flex .g3-show {
      display: block; }
    .flex .g3-hide {
      display: none; }
    .flex .g3-offset1 {
      margin-left: 8.4%; }
      .flex .g3-offset1 .flex-nested.g3-flex6.breakout {
        width: calc(50% + 100px); }
        .flex .g3-offset1 .flex-nested.g3-flex6.breakout:not(.push) {
          margin-left: -100px;
          margin-right: 20px;
          margin-right: 1.25rem; }
        .flex .g3-offset1 .flex-nested.g3-flex6.breakout.push {
          margin-right: -100px;
          margin-left: 20px;
          margin-left: 1.25rem; }
    .flex .g3-offset2 {
      margin-left: 16.8%; }
    .flex .g3-offset3 {
      margin-left: 24.2%; } }

.horz-rule {
  border: 0;
  height: 0;
  border-top: none;
  border-bottom: 3px solid #222222;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative; }
  @media all and (min-width: 64.0625em) {
    .horz-rule {
      margin-bottom: 60px; } }
  .horz-rule.alt, .horz-rule.alt3, .horz-rule.button-w-icon.alt2 {
    margin-top: 20px;
    margin-bottom: 20px; }
    .horz-rule.alt:after, .horz-rule.alt3:after, .horz-rule.button-w-icon.alt2:after {
      content: '';
      display: block;
      height: 20px;
      top: -10px;
      left: 50%;
      margin-left: -180px;
      position: absolute;
      width: 360px;
      background: #f8f8f8; }
    @media all and (min-width: 47.9375em) {
      .horz-rule.alt, .horz-rule.alt3, .horz-rule.button-w-icon.alt2 {
        margin-top: 60px;
        margin-bottom: 60px; } }
  .horz-rule.alt2 {
    margin-top: 20px;
    margin-bottom: 20px; }
    .horz-rule.alt2:after {
      content: '';
      display: block;
      height: 20px;
      top: -10px;
      left: 50%;
      margin-left: -35px;
      position: absolute;
      width: 70px;
      background: #f8f8f8; }
    @media all and (min-width: 64.0625em) {
      .horz-rule.alt2 {
        margin-top: 60px;
        margin-bottom: 120px; } }
  .horz-rule.alt3 {
    border-color: #fbd334; }
    .horz-rule.alt3:after {
      margin-left: -280px;
      width: 560px; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }
  img.contain-media {
    width: 100%; }
  img.img-right {
    margin-bottom: 20px;
    width: 100%;
    max-width: auto; }
    @media all and (min-width: 37.5em) {
      img.img-right {
        float: right;
        margin-left: 60px;
        max-width: 100%;
        width: auto; } }
  img.img-left {
    float: left; }

figure, .img-wrap {
  *zoom: 1;
  margin-top: 0;
  margin-bottom: 20px;
  position: relative; }
  figure:after, .img-wrap:after {
    content: "";
    display: table;
    clear: both; }
  figure.contain, .img-wrap.contain {
    display: block;
    text-align: center; }
    figure.contain img, .img-wrap.contain img {
      display: inline-block;
      text-align: center; }

a {
  color: #cf6a34;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a:hover, a:focus {
  color: #222222; }

a.btn,
button.btn {
  color: #222222;
  border: 3px solid #222222;
  background: transparent;
  padding: 17px 30px 14px 32px;
  text-align: center;
  line-height: 1;
  font-family: "montserratbold", clean, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  display: inline-block; }

video {
  width: 100%;
  height: auto; }

.video-img-wrap {
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  display: none; }
  @media all and (min-width: 64.0625em) {
    .video-img-wrap {
      display: block; } }
  .video-img-wrap video {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100%;
    opacity: 0; }
    .video-img-wrap video.show {
      opacity: 1; }

.video-wrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block; }

.pullquote p,
.blockquote {
  border-top: 3px solid #222222;
  border-bottom: 3px solid #222222;
  padding: 66px 10px; }
  .flex-full .pullquote p, .flex-full
  .blockquote {
    border-top: none;
    border-bottom: none; }

.pullquote {
  padding: 0.5em 0; }

.blockquote {
  margin: 30px 0;
  text-align: center; }
  .blockquote p {
    margin: 0;
    font-family: steelfish_rgbold, sans-serif;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 0.1em; }
    .blockquote p:before {
      content: '“'; }
    .blockquote p:after {
      content: '”'; }
  .blockquote footer {
    margin: 10px 0;
    font-style: italic; }

body {
  background: #f8f8f9;
  font-family: Georgia, serif;
  color: #222;
  font-size: 16px;
  line-height: 1.6; }

strong {
  font-weight: bold;
  font-family: inherit; }

/* layout */
.container {
  position: relative;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  .container:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* bar */
#bar {
  position: relative;
  height: 30px;
  border-bottom: 3px solid lightgray;
  background: #222222;
  font-family: montserratregular, sans-serif;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  #bar a {
    color: #cf6a34;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
    #bar a:hover {
      color: #fff !important; }
    #bar a[href$='clients'] {
      position: absolute;
      top: 0;
      left: calc(50% - 5em);
      text-align: center;
      width: 10em;
      line-height: 30px; }
  #bar #social {
    position: absolute;
    top: 0;
    left: 0; }
    #bar #social a {
      float: left;
      margin-right: 10px;
      color: #a2a2a2;
      font-size: 13px;
      line-height: 30px; }
  #bar #search {
    position: absolute;
    top: 4px;
    right: 0;
    width: 160px;
    height: 21px; }
    #bar #search form.search-form {
      margin: 0;
      padding: 0; }
    #bar #search input {
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 1px solid #6b6a6a;
      border-radius: 2px;
      padding-right: 20px;
      color: #fff;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      /* Firefox 18- */
      /* Firefox 19+ */ }
      #bar #search input::-webkit-input-placeholder {
        font-family: montserratregular, sans-serif;
        font-size: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #a2a2a2; }
      #bar #search input:-moz-placeholder {
        font-family: montserratregular, sans-serif;
        font-size: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #a2a2a2; }
      #bar #search input::-moz-placeholder {
        font-family: montserratregular, sans-serif;
        font-size: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #a2a2a2; }
      #bar #search input:-ms-input-placeholder {
        font-family: montserratregular, sans-serif;
        font-size: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #a2a2a2; }
      #bar #search input::-webkit-search-cancel-button {
        display: none; }

/* header */
#header {
  position: relative;
  border-bottom: 4px solid lightgray; }
  #header .flex {
    padding-bottom: 0 !important; }
  #header .flex > * {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  #header h1 {
    display: inline-block;
    position: relative;
    top: 20px;
    left: calc(50% - 150px); }
    @media all and (min-width: 68.75em) {
      #header h1 {
        top: 35px;
        position: absolute; } }
  #header nav {
    display: block;
    text-align: center; }
    @media all and (min-width: 68.75em) {
      #header nav {
        display: block; } }
    #header nav ul {
      *zoom: 1; }
      #header nav ul:after {
        content: "";
        display: table;
        clear: both; }
    #header nav li {
      display: block;
      text-align: center;
      width: 50%;
      float: left; }
      @media all and (min-width: 37.5em) {
        #header nav li {
          width: auto;
          display: inline-block;
          float: none; } }
      @media all and (min-width: 68.75em) {
        #header nav li {
          float: left;
          width: 115px; } }
      @media all and (min-width: 68.75em) {
        #header nav li:not(:first-child) {
          margin-left: 50px; } }
      @media all and (min-width: 68.75em) {
        #header nav li:nth-child(3) {
          margin-left: 400px; } }
      #header nav li a {
        display: block;
        padding: 15px 10px;
        position: relative; }
        @media all and (min-width: 37.5em) {
          #header nav li a {
            padding: 48px 20px; } }
        @media all and (min-width: 47.9375em) {
          #header nav li a {
            padding: 48px; } }
        @media all and (min-width: 68.75em) {
          #header nav li a {
            padding: 48px 0; } }
        #header nav li a:before {
          display: block;
          font-family: 'happylager';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Enable Ligatures ================ */
          -webkit-font-feature-settings: "liga";
          -moz-font-feature-settings: "liga=1";
          -moz-font-feature-settings: "liga";
          -ms-font-feature-settings: "liga" 1;
          -o-font-feature-settings: "liga";
          font-feature-settings: "liga";
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #fbd334;
          font-size: 45px;
          line-height: 50px; }
        #header nav li a.sel:after {
          content: '';
          display: block;
          position: absolute;
          background: url(../images/nav-sel.svg) no-repeat left 100%;
          bottom: 0;
          width: 14px;
          height: 14px;
          left: 50%;
          margin-left: -7px;
          height: 10px; }
        #header nav li a[href$='about']:before {
          content: 'brewery'; }
        #header nav li a[href$='services']:before {
          content: 'beaker'; }
        #header nav li a[href$='work']:before {
          content: 'mug'; }
        #header nav li a[href$='news']:before {
          content: 'news'; }
        #header nav li a strong {
          display: block;
          font-size: 22px;
          line-height: 40px;
          font-family: steelfish_rgbold, sans-serif;
          text-transform: uppercase;
          color: #383838; }
        #header nav li a span {
          display: none; }
        #header nav li a em {
          display: block;
          font-style: normal;
          font-family: montserratregular, sans-serif;
          font-size: 10px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          line-height: 20px;
          color: lightgray; }
          #header nav li a em:before {
            content: '[ '; }
          #header nav li a em:after {
            content: ' ]'; }

/* main */
#main {
  overflow-x: hidden; }
  #main h3 {
    margin-bottom: 1.6em;
    font-family: montserratbold, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center; }
  #main h4 {
    margin-bottom: 1.2em;
    font-family: montserratbold, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.05em;
    font-size: 14px; }
  #main ul,
  #main ol {
    margin: 2.2em 0 0.2em 0; }
  #main ul {
    list-style-type: none; }
  #main ol {
    list-style-type: decimal; }
  #main header {
    text-align: center;
    background-position: 50% 50% !important; }
    body.about #main header {
      background: #c6c5c5 url("../images/headingbg-gray.svg"); }
    body.services #main header {
      background: #fbd334 url("../images/headingbg-yellow.svg"); }
    body.work #main header {
      background: #56b1be url("../images/headingbg-blue.svg"); }
    body.news #main header, body.search #main header {
      background: #cf6a34 url("../images/headingbg-orange.svg"); }
    #main header h1 {
      letter-spacing: 6px; }
    #main header + .flex {
      margin-top: 60px; }
  #main article .container {
    max-width: 764px;
    padding: 3.2em 20px; }
    @media all and (min-width: 64.0625em) {
      #main article .container {
        padding-right: 0px;
        padding-left: 0px; } }
    body.services #main article .container {
      max-width: 1024px; }
  #main article .authorinfo {
    margin: 3.2em 0;
    border: solid #222;
    border-width: 3px 0;
    padding: 1.6em 0; }
    #main article .authorinfo .author {
      font-style: italic; }
  #main section.alt, #main section.horz-rule.alt3, #main section.button-w-icon.alt2,
  #main header.alt,
  #main header.horz-rule.alt3,
  #main header.button-w-icon.alt2 {
    padding-top: 50px;
    padding-bottom: 50px; }
    #main section.alt p:last-of-type, #main section.horz-rule.alt3 p:last-of-type, #main section.button-w-icon.alt2 p:last-of-type,
    #main header.alt p:last-of-type,
    #main header.horz-rule.alt3 p:last-of-type,
    #main header.button-w-icon.alt2 p:last-of-type {
      margin-bottom: 0; }
  #main header.alt2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5px; }
  #main section.alt2 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white; }
    #main section.alt2 p:last-of-type {
      margin-bottom: 0; }
  #main .info-hero {
    background: #b75e2e url("../images/about-background-image-1.jpg");
    background-position: center top;
    padding-top: 60px;
    padding-bottom: 60px; }
  #main .email-us-btn,
  #main .map-btn {
    padding: 6px 30px 6px 0;
    color: #222222;
    position: relative;
    margin-right: 40px; }
    #main .email-us-btn:after,
    #main .map-btn:after {
      display: block;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      right: 0;
      top: 50%;
      margin-top: -11px;
      background: url("../images/icon-arrow.svg") no-repeat right center;
      background-size: 20px 20px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  #main .map-btn {
    margin-right: 0px; }
  #main .subnav {
    background: lightgray;
    margin-bottom: 2px; }
    #main .subnav ul {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      display: block;
      text-align: center; }
      #main .subnav ul li {
        display: inline-block;
        text-align: center;
        line-height: 1; }
      #main .subnav ul a {
        color: #222222;
        display: block;
        letter-spacing: 2px;
        font-size: 14px;
        padding: 2px 15px; }
        #main .subnav ul a.current {
          color: #cf6a34; }

#main article.news-entry {
  *zoom: 1;
  margin-bottom: 40px; }
  #main article.news-entry:after {
    content: "";
    display: table;
    clear: both; }
  @media all and (min-width: 47.9375em) {
    #main article.news-entry figure {
      display: inline-block;
      padding-right: 20px;
      float: left; } }
  @media all and (min-width: 68.75em) {
    #main article.news-entry figure {
      width: 280px; } }
  #main article.news-entry figure a img {
    display: block;
    margin: auto; }
    @media all and (min-width: 37.5em) {
      #main article.news-entry figure a img {
        display: inline-block;
        float: left; } }
  @media all and (min-width: 47.9375em) {
    #main article.news-entry .summary-wrap {
      display: inline-block;
      width: 58%;
      float: right;
      vertical-align: top; } }
  @media all and (min-width: 68.75em) {
    #main article.news-entry .summary-wrap {
      width: 668px; } }
  #main article.news-entry .summary-wrap h3 {
    text-align: left;
    margin-bottom: 10px; }
    #main article.news-entry .summary-wrap h3 a {
      color: #222222;
      font-weight: 400; }
  #main article.news-entry .summary-wrap .author {
    color: #cf6a34;
    font-style: italic;
    padding-right: 10px;
    padding-bottom: 20px;
    display: inline-block; }
  #main article.news-entry .summary-wrap .separator {
    padding-right: 10px; }
  #main article.news-entry .summary-wrap .more-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "montserratbold", clean, sans-serif;
    color: #222222;
    padding-right: 30px;
    display: inline-block;
    position: relative; }
    #main article.news-entry .summary-wrap .more-link:after {
      display: block;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      right: 0;
      top: 50%;
      margin-top: -11px;
      background: url("../images/icon-arrow.svg") no-repeat right center;
      background-size: 20px 20px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  #main article.news-entry.featured {
    margin-bottom: 60px; }
    #main article.news-entry.featured figure {
      padding-right: 0px; }
      @media all and (min-width: 47.9375em) {
        #main article.news-entry.featured figure {
          width: 100%; } }
      @media all and (min-width: 64.0625em) {
        #main article.news-entry.featured figure {
          width: 570px;
          float: none;
          padding-right: 25px; } }
      @media all and (min-width: 47.9375em) {
        #main article.news-entry.featured figure a img {
          width: 100%; } }
    @media all and (min-width: 47.9375em) {
      #main article.news-entry.featured .summary-wrap {
        width: 100%;
        float: none; } }
    @media all and (min-width: 64.0625em) {
      #main article.news-entry.featured .summary-wrap {
        width: 345px;
        float: none; } }

#main article.work-entry {
  *zoom: 1;
  margin-bottom: 40px; }
  #main article.work-entry:after {
    content: "";
    display: table;
    clear: both; }
  #main article.work-entry figure {
    float: right; }
  #main article.work-entry .summary-wrap {
    float: left;
    width: 275px; }
    #main article.work-entry .summary-wrap h3 {
      text-align: left;
      margin-bottom: 10px; }
      #main article.work-entry .summary-wrap h3 a {
        color: #222222;
        font-weight: 400; }
    #main article.work-entry .summary-wrap .more-link {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "montserratbold", clean, sans-serif;
      color: #222222;
      padding-right: 20px;
      display: inline-block;
      position: relative; }
      #main article.work-entry .summary-wrap .more-link:after {
        display: block;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -6px;
        top: 0;
        margin-top: 2px;
        background: url("../images/icon-arrow.svg") no-repeat right center;
        background-size: 20px 20px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
  #main article.work-entry.work-entry-feature {
    margin-bottom: 60px;
    position: relative; }
    #main article.work-entry.work-entry-feature img {
      position: absolute;
      max-width: 1450px;
      width: 1450px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
    #main article.work-entry.work-entry-feature .summary-wrap {
      position: relative;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 100%;
      height: 100%;
      display: block;
      padding: 0 20px; }
      @media all and (min-width: 47.9375em) {
        #main article.work-entry.work-entry-feature .summary-wrap {
          padding: 0;
          margin-top: 80px;
          margin-bottom: 40px; } }
      #main article.work-entry.work-entry-feature .summary-wrap h2 {
        padding: 15px 30px;
        border: 3px solid white;
        display: inline-block;
        position: relative;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        margin-bottom: 30px; }
      #main article.work-entry.work-entry-feature .summary-wrap h3 {
        text-align: center; }
      #main article.work-entry.work-entry-feature .summary-wrap p {
        color: white;
        text-align: center;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto; }
      #main article.work-entry.work-entry-feature .summary-wrap h3 a {
        color: white; }
    #main article.work-entry.work-entry-feature .more-link {
      color: white;
      padding-right: 30px;
      font-size: 16px; }
      #main article.work-entry.work-entry-feature .more-link:after {
        top: 50%;
        margin-top: -11px;
        background: url("../images/icon-arrow-white.svg") no-repeat right center; }

#main .pagination {
  margin-bottom: 50px;
  display: block;
  text-align: center; }
  #main .pagination ul {
    display: inline-block;
    text-align: center;
    margin-top: 0; }
  #main .pagination li {
    display: inline-block;
    text-align: center;
    font-family: "montserratbold", clean, sans-serif;
    padding: 5px; }
    #main .pagination li.current {
      color: #cf6a34;
      border-bottom: 2px solid #cf6a34; }
    #main .pagination li a {
      color: #222222; }

.pag-prev-link,
.pag-next-link {
  width: 20px;
  height: auto;
  font-size: 0;
  position: relative;
  display: block; }
  .pag-prev-link:after,
  .pag-next-link:after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -13px;
    background: url("../images/icon-arrow.svg") no-repeat right center;
    background-size: 20px 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.pag-prev-link:after {
  left: -5px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

nav.prev-next-entry {
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  display: inline-block; }
  nav.prev-next-entry .pag-prev-link, nav.prev-next-entry .pag-next-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top; }
    nav.prev-next-entry .pag-prev-link:after, nav.prev-next-entry .pag-next-link:after {
      width: 30px;
      height: 30px;
      background-size: 30px 30px; }
  nav.prev-next-entry .pag-prev-link:after {
    right: 5px; }

#main .service-points {
  margin-bottom: 40px; }
  #main .service-points > .flex:nth-of-type(2) .service-point:after {
    content: '02'; }
  #main .service-points > .flex:nth-of-type(3) .service-point:after {
    content: '03'; }

#main .services-work-entry {
  overflow: hidden; }
  #main .services-work-entry .flex {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  #main .services-work-entry .summary-wrap {
    position: relative; }
    #main .services-work-entry .summary-wrap > * {
      position: relative;
      z-index: 2;
      color: white; }
    #main .services-work-entry .summary-wrap h2.callout-border {
      padding-top: 40px; }
    #main .services-work-entry .summary-wrap h2.callout-border a {
      color: white;
      padding: 5px 10px;
      border: 3px solid white;
      display: inline-block;
      font-family: "montserratregular", serif; }
      #main .services-work-entry .summary-wrap h2.callout-border a:hover {
        color: white; }
    #main .services-work-entry .summary-wrap h3 {
      text-align: left; }
      #main .services-work-entry .summary-wrap h3 a:hover {
        color: white; }
    #main .services-work-entry .summary-wrap a.hero-cta:hover {
      color: #f8f8f8; }
    #main .services-work-entry .summary-wrap:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -40px;
      width: 100%;
      padding-right: 40px;
      padding-bottom: 300px;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); }

#main .service-point {
  overflow: hidden;
  margin-bottom: 40px; }
  #main .service-point:after {
    content: '01';
    line-height: 2;
    font-size: 22px;
    font-family: "montserratregular", serif;
    position: absolute;
    text-align: center;
    right: 55px;
    top: 25px;
    display: block;
    width: 52px;
    height: 42px;
    border: 3px solid #222222; }
  #main .service-point p {
    padding-right: 30px; }
  #main .service-point h4 {
    font-family: "montserratregular", serif;
    padding-right: 30px;
    margin-bottom: 10px; }

#main .services-entry-wrap {
  max-width: 280px;
  display: block;
  background: white;
  height: 356px;
  margin-bottom: 64px;
  border-bottom: 5px solid #d9885d;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  #main .services-entry-wrap:after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 17px;
    margin-left: -10px;
    background: url("../images/icon-arrow-alt.svg") no-repeat right center;
    background-size: 20px 20px; }
  #main .services-entry-wrap h3 {
    color: #222222;
    margin-top: 17px;
    margin-bottom: 0;
    font-size: 15px;
    font-size: 0.9375rem; }
  #main .services-entry-wrap p {
    color: #222222;
    text-align: center;
    padding: 10px 32px; }

.icon-beer,
.icon-beaker,
.icon-news,
.icon-beercan {
  position: relative; }
  .icon-beer:before,
  .icon-beaker:before,
  .icon-news:before,
  .icon-beercan:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 23px;
    height: 31px;
    background: url("../images/icon-beer.png") no-repeat left top;
    background-size: 23px 31px; }

.icon-beaker:before {
  width: 26px;
  height: 28px;
  background-image: url("../images/icon-beaker.png");
  background-size: 26px 28px; }

.icon-news:before {
  width: 29px;
  height: 29px;
  background-image: url("../images/icon-news.png");
  background-size: 29px 29px; }

.icon-beercan:before {
  width: 16px;
  height: 30px;
  background-image: url("../images/icon-beercan.png");
  background-size: 16px 30px; }

#hero {
  max-height: 920px;
  overflow: hidden;
  position: relative; }
  #hero:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media all and (min-width: 68.75em) {
      #hero:before {
        display: none; } }
  #hero img {
    width: 100%;
    max-width: auto; }
  #hero .hero-info {
    position: absolute;
    top: 50%;
    width: 625px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media all and (min-width: 64.0625em) {
      #hero .hero-info {
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 115px; } }
    #hero .hero-info h1 {
      font-size: 24px;
      color: #fbd334;
      text-align: center;
      letter-spacing: 4px;
      margin-bottom: 5px; }
      @media all and (min-width: 37.5em) {
        #hero .hero-info h1 {
          font-size: 30px;
          margin-bottom: 30px; } }
      #hero .hero-info h1 span {
        font-size: 0;
        display: block;
        width: 312px;
        height: 54px;
        background: url("../images/glassfull.png") no-repeat center center;
        background-size: 312px 54px;
        text-align: center;
        margin: 5px auto 0; }
        @media all and (min-width: 37.5em) {
          #hero .hero-info h1 span {
            margin: 20px auto 0;
            background-size: 625px 108px;
            width: 625px;
            height: 108px; } }
    #hero .hero-info p:last-of-type {
      margin-bottom: 0 !important; }

#on-tap {
  position: relative;
  z-index: 2;
  background: rgba(207, 106, 52, 0.8); }
  @media all and (min-width: 81.25em) {
    #on-tap {
      margin-top: -387px; } }
  #on-tap:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 228px;
    background: #cf6a34;
    bottom: 0;
    left: 0; }

.on-tap-buttons-wrap {
  padding-top: 50px;
  padding-bottom: 50px; }

.button-w-icon {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "montserratbold", clean, sans-serif;
  border: 3px solid white;
  padding: 7px 15px;
  padding-left: 80px;
  display: block; }
  .button-w-icon:before {
    z-index: 1;
    left: 17px;
    top: 6px; }
  .button-w-icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 50px;
    background-color: white;
    left: 0;
    top: 0; }
  .button-w-icon.alt, .button-w-icon.horz-rule.alt3, .button-w-icon.alt2 {
    border-color: #222222;
    color: #222222;
    text-align: center;
    width: 320px;
    position: absolute;
    top: 2px;
    left: 50%;
    background: white;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    @media all and (min-width: 64.0625em) {
      .button-w-icon.alt, .button-w-icon.horz-rule.alt3, .button-w-icon.alt2 {
        top: 43px; } }
    .button-w-icon.alt:after, .button-w-icon.horz-rule.alt3:after, .button-w-icon.alt2:after {
      content: '';
      position: absolute;
      display: block;
      width: 60px;
      height: 47px;
      background-color: #e1dfdf;
      left: 0;
      top: 0;
      border-right: 3px solid #222222; }
  .button-w-icon.alt2 {
    padding-left: 70px;
    font-size: 12px;
    top: 0; }
    @media all and (min-width: 47.9375em) {
      .button-w-icon.alt2 {
        width: 500px;
        font-size: 22px;
        top: 43px; } }
    .button-w-icon.alt2:after {
      width: 50px; }
  .button-w-icon[href]:hover, .button-w-icon[href]:focus {
    color: lightgray; }
  @media all and (min-width: 37.5em) {
    .button-w-icon {
      display: inline-block; } }

.view-more,
.hero-cta {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "montserratbold", clean, sans-serif;
  padding-right: 30px;
  position: relative;
  float: right;
  display: block;
  padding-top: 10px; }
  .view-more:after,
  .hero-cta:after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 10px;
    margin-left: 0;
    background: url("../images/icon-arrow-white.svg") no-repeat right center;
    background-size: 20px 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .view-more:hover, .view-more:focus,
  .hero-cta:hover,
  .hero-cta:focus {
    color: lightgray; }

.hero-cta {
  font-size: 16px;
  float: none;
  display: inline-block;
  padding-right: 35px; }
  .hero-cta:after {
    width: 26px;
    height: 26px;
    top: 8px;
    background-size: 26px 26px; }

#how-made {
  background: url("../images/how-made-background.jpg") repeat-x center bottom;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media all and (min-width: 64.0625em) {
    #how-made {
      padding-top: 60px;
      padding-bottom: 0px; } }
  #how-made h1 {
    color: #fbd334;
    text-align: center;
    letter-spacing: 3px; }

.big-arrow {
  position: absolute;
  font-size: 0;
  width: 45px;
  height: 45px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  top: -2px; }
  @media all and (min-width: 64.0625em) {
    .big-arrow {
      top: 38px; } }
  .big-arrow:after {
    display: block;
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0;
    top: 10px;
    margin-left: 0;
    background: url("../images/icon-arrow.svg") no-repeat right center;
    background-size: 45px 45px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

#best-buddies {
  padding-top: 60px;
  position: relative; }
  #best-buddies:before {
    width: 100%;
    height: 145px;
    content: '';
    position: absolute;
    background: white;
    display: block;
    bottom: 0;
    left: 0; }
  #best-buddies ul.logos {
    display: inline-block;
    text-align: center;
    margin-bottom: 40px; }
    #best-buddies ul.logos li {
      display: inline-block;
      text-align: center;
      width: 19.5%; }
  #best-buddies h1 {
    letter-spacing: 4px;
    position: relative;
    margin-bottom: 40px; }
    #best-buddies h1:after {
      width: 38px;
      height: 1px;
      content: '';
      position: absolute;
      background: #fbd334;
      display: block;
      top: 90px;
      left: 50%;
      margin-left: -19px; }
    #best-buddies h1:before {
      width: 100%;
      height: 200px;
      content: '';
      position: absolute;
      border: 4px solid #fbd334;
      display: block;
      top: -20px; }
  #best-buddies h2 {
    color: #fbd334;
    margin-bottom: 78px; }

#testimonials {
  border-top: 5px solid #cf6a34;
  padding-top: 100px;
  padding-bottom: 60px;
  background-image: url("../images/testimonials-background.jpg"); }
  #testimonials .bubble {
    position: relative;
    margin-bottom: 40px;
    border-top: 3px solid #cf6a34; }
    @media all and (min-width: 64.0625em) {
      #testimonials .bubble {
        height: 415px;
        margin-bottom: 0px;
        border: none; } }
    #testimonials .bubble:after {
      position: absolute;
      content: '\201D';
      font-size: 60px;
      line-height: 1.2;
      font-family: "steelfish_rgbold", clean, sans-serif;
      width: 30px;
      height: 30px;
      background: #cf6a34;
      display: block;
      top: 0;
      left: 0;
      padding-left: 10px;
      padding-bottom: 5px;
      color: #944a23; }
      @media all and (min-width: 64.0625em) {
        #testimonials .bubble:after {
          top: 5px;
          left: auto;
          right: 20px; } }
    #testimonials .bubble:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 415px;
      background: url("../images/quote-bubble.png") no-repeat left top;
      display: none;
      top: 0;
      left: 15px; }
      @media all and (min-width: 64.0625em) {
        #testimonials .bubble:before {
          display: block; } }
    #testimonials .bubble img {
      display: block;
      width: 84px;
      margin: 10px auto; }
    #testimonials .bubble blockquote {
      color: white;
      padding: 40px 40px 10px 40px;
      font-style: italic;
      text-align: center;
      height: 185px; }
      @media all and (min-width: 64.0625em) {
        #testimonials .bubble blockquote {
          text-align: left; } }
    #testimonials .bubble p {
      text-align: center;
      margin: 0 30px; }
    #testimonials .bubble cite {
      font-family: "steelfish_rgbold", clean, sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px; }

/* footer */
#footer {
  background: #6b6a6a;
  font-family: montserratregular, sans-serif;
  font-size: 14px; }
  #footer .flex {
    padding-top: 50px;
    padding-bottom: 50px; }
    #footer .flex img {
      display: block;
      text-align: center;
      margin: 10px auto; }
      @media all and (min-width: 37.5em) {
        #footer .flex img {
          float: left; } }
    #footer .flex p.copyright {
      text-align: center;
      color: #f8f8f8; }
      @media all and (min-width: 37.5em) {
        #footer .flex p.copyright {
          float: left;
          margin-left: 20px;
          padding-top: 38px; } }
    #footer .flex a.contact {
      display: block;
      margin: 10px auto 0;
      border: 3px solid #f8f8f8;
      padding: 15px 45px 15px 20px;
      color: #f8f8f8;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      position: relative;
      width: 260px; }
      @media all and (min-width: 37.5em) {
        #footer .flex a.contact {
          float: right;
          margin: 18px auto 0; } }
      #footer .flex a.contact:after {
        display: block;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: 16px;
        top: 14px;
        margin-left: 0;
        background: url("../images/icon-arrow-white.svg") no-repeat right center;
        background-size: 20px 20px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
