{% extends "_layouts/site" %}

{% block main %}

  <div id="hero">
    {% set image = entry.heroImage.first() %}
    {% if image %}
      <img src="{{ image.getUrl() }}" alt="image.title"/>
    {% endif %}
    <div class="hero-info">
      <h1>We always see the glass <br>
        <span class="ir">Half Full</span>
      </h1>
      <p class="center reverse">Work with Happy Lager and you will find an endless <br>
tap of ideas, wit and creativity.</p>
      <p class="center"><a href="mailto:hi@happylager.dev" class="hero-cta">Pull up a bar stool</a></p>
    </div>
  </div>

  <section id="on-tap">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex12">
        <div class="on-tap-buttons-wrap">
          <a class="button-w-icon icon-beer" href="/work">What's on Tap</a>
          <a href="/work" class="view-more">View More</a>
        </div>
      </div>
    </div>
    <div class="flex">
      {% for entry in craft.entries.section('Work').limit(3).find() %}
        <div class="g1-flex4 g2-flex6 g3-flex4">
          <a href="{{ entry.url }}" class="services-entry-wrap">
            {% set image = entry.featuredThumb.first() %}
            {% if image %}
              <img src="{{ image.getUrl('thumb') }}" alt="image.title"/>
            {% endif %}
            <h3 class="center">{{ entry.title }}</h3>
            {% if entry.shortDescription %}
              {{ entry.shortDescription }}
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="how-made">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <hr class="horz-rule alt">
          <a class="button-w-icon alt icon-beaker" href="/about">How it's made</a>
      </div>
    </div>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <h1 class="beta">Uncap Happy Lager to find out how it's made</h1>
        <h2 class="subfont delta center">Our Experience &middot; Our Services &middot; And more</h2>
      </div>
    </div>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <hr class="horz-rule alt2">
          <a class="big-arrow" href="/about">Go</a>
      </div>
    </div>
  </section>

  <section id="testimonials" style="background-image: url(/assets/images/testimonials-background.jpg);">
    <div class="flex">

      {% for block in entry.testimonial %}
      <div class="g1-flex4 g2-flex6 g3-flex4 bubble">
        <blockquote>{{ block.quote }}</blockquote>
        {% set photo = block.photo.first() %}
        {% if photo %}
        <img class="" src="{{ photo.url }}" alt="{{ photo.title }}">
        {% endif %}
        <p><cite class="gamma reverse">{{ block.cite }}</cite></p>
      </div>
      {% endfor %}

    </div>
  </section>

  <section id="best-buddies">
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
          <hr class="horz-rule alt3">
          <a class="button-w-icon alt2 icon-beercan" href="/about">Our best Drinking Buddies</a>
          <ul class="logos">
            {% set logos = entry.logo %}
            {% if logos %}
              {% for logo in logos %}
                <li>
                  <img src="{{ logo.getUrl() }}" alt="logo.title"/>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
      </div>
    </div>
    <div class="flex">
      <div class="g1-flex4 g2-flex6 g3-flex10 g3-offset1">
        <h1 class="beta center">Some Partners Make it all worth while</h1>
        <h2 class="subfont delta center">Robin Richards &middot; President, Happy Lager</h2>
      </div>
    </div>
  </section>

{% endblock %}
